.btn_custom {
  display: inline-block;
  width: auto;
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0;
  font-weight: 600;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  padding: 13px 50px;
  cursor: pointer;
  font-family: $Ostrich;
}

.btn--small {
  padding: 8px 12px;
  min-width: 65px;
  font-size: 15px;
}

.btn--medium {
  padding: 5px 12px;
  // min-width: 85px;
  font-size: 17px;
}

.btn--large {
  padding: 0px 15px;
  /* min-width: 105px; */
  font-size: 27px;

  @include respond-to(sm) {
    padding: 8px 8px;
  }

  @include respond-to(xs) {
    padding: 5px 8px;
    // min-width: 105px;
    font-size: 23px;
  }
}

button {
  border: none;
}

.btn--filled {
  color: #4a4a4a;
  background: $white;
  transition: 0.3s ease-in-out;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    background: $white;
    color: #4a4a4a;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  &.btn--filled--mobile {
    @include respond-to(sm) {
      color: #fff;
      background: $text;
    }
    @include respond-to(xs) {
      color: #fff;
      background: $text;
    }
  }
  &.btn-event {
    border-radius: 0px !important;
    width: 127px;
    height: 40px;
    text-align: center;
    font-family: $Raleway;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10px;
    padding: 5px;
    @include respond-to(sm) {
      color: #fff;
      background-color: $text;
    }
    @include respond-to(xs) {
      color: #fff;
      background-color: $text;
    }
  }
  &.btn--filled--buy {
    background-color: $past;
    color: $white;
    text-transform: none;
    font-weight: $regular;

    &:hover {
      background-color: $past;
      color: $white;
    }
  }

  &.btn--filled--border {
    background-color: transparent;
    border: 2px solid $black;
    // border-radius: 5px;
    color: #000;

    @include respond-to(sm) {
      font-size: 20px;
      padding: 5px 15px;
    }
    @include respond-to(xs) {
      font-size: 20px;
      padding: 5px 15px;
    }

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

.btn--filled-gray {
  color: $white;
  background: $text;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-transform: lowercase;
  font-weight: $superBold;
  font-family: $Ostrich;
  @include respond-to(xs) {
    width: 180px;
  }

  img {
    width: 20px;
  }

  &:hover {
    text-decoration: none;
    background: rgba(104, 104, 104, 0.61);
    color: #fff;
    border: 1px solid rgba(104, 104, 104, 0.61);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: 0.3s ease-in-out;
  }

  &.active {
    background: transparent;
    border: 2px solid $text;
    color: $text;

    .line {
      border-right: 1px solid $text;
    }

    img {
      filter: brightness(0.4);
    }
  }
}

.btn--filled-modalgray {
  color: $white;
  background: $agregar;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-transform: inherit;
  font-weight: $medium;
  font-family: $Roboto;
  &:hover {
    text-decoration: none;
    background: rgba(104, 104, 104, 0.61);
    color: #fff;
    border: 1px solid rgba(104, 104, 104, 0.61);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: 0.3s ease-in-out;
  }
}

.btn--filled-footer {
  color: $white;
  background: $text;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 0;
  font-family: $Roboto;
  font-style: italic;
  font-size: 15px;
  padding: 0;
  width: 85px;
  margin: 0 10px 0 0;
  height: 28px;
  line-height: 1.1;

  img {
    width: 20px;
  }

  &:hover {
    text-decoration: none;
    background: rgba(104, 104, 104, 0.61);
    color: #fff;
    border: 1px solid rgba(104, 104, 104, 0.61);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: 0.3s ease-in-out;
  }
}

.btn-box {
  padding: 30px 0;

  @include respond-to(sm) {
    // padding: 30px;
    margin-top: 30px;
  }

  @include respond-to(xs) {
    padding: 0;
    margin-top: 30px;
  }

  &.btn-box--resgister {
    width: 18%;
    @include respond-to(md) {
      width: 25%;
      padding-left: 30px;
    }
    @include respond-to(sm) {
      width: 43%;
      padding-left: 15px;
    }

    @include respond-to(xs) {
      width: 55%;
      padding-left: 10px;
    }
  }
}

.btn-box--about {
  width: 100px;
  margin-top: 10px;
}

.btn-domicilios {
  font-family: $Ostrich;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  .line {
    border-right: 2px solid #fff;
    margin: 0 10px;
    padding: 12px 0;
  }
}
.btn-form__center {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 40px;
}

.btn-modal {
  width: 40%;

  @include respond-to(md) {
    width: 45%;
  }

  @include respond-to(sm) {
    width: 55%;
  }

  @include respond-to(xs) {
    width: 100%;
  }
}

.main-nav__btn {
  margin-left: 5px;
}

.btn__tabs {
  @include respond-to(xs) {
    display: flex;
    justify-content: center;
  }
}
