/**** ENTRIES ****/

.main-entries {
  padding: 5px 0;
}

.main-entries__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 50px;

  @include respond-to(xs) {
    grid-template-columns: 1fr;
  }
}

.main-entries__item {
  position: relative;
}

.main-entries__img {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main-entries__text {
  position: absolute;
  top: 20px;
  left: 20px;
}

.main-entries__title {
  h3 {
    @include font(28px, $bold);
    color: $white;
    font-family: $Raleway;
    text-transform: uppercase;
  }
}

.main-entries__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;

  @include respond-to(xs) {
    flex-direction: column;
  }
}

.nav-item {
  &.nav-item--tabs {
    padding: 0;
    margin-bottom: 15px;
  }

}

.nav-pills {
  border-bottom: 1px solid transparent;

  @include respond-to(xs) {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-link--tabs {
    transition: 0.3s ease-in-out;
    @include font(25px, $bold);
    text-transform: uppercase;
    font-family: $Ostrich;
    border: 4px solid transparent;
    color: #B4B4B4;
    padding: 10px;

    @include respond-to(sm) {
      @include font(16px, $bold);
    }

    @include respond-to(xs) {
      @include font(25px, $bold);
      padding: 2px;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.nav-pills .nav-item.show .nav-link--tabs,
.nav-pills .nav-link--tabs.active {
  color: #4A4A4A;
  background-color: #fff;
  border: 4px solid #707070;
  border-radius: 7px;
}



/**** POKE BOWLS****/

.main-pokebowls__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 50px;

  @include respond-to(sm) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond-to(xs) {
    grid-template-columns: 1fr;
  }
}