!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name:"viewport"}/
    %title Poke
    %link{rel: "stylesheet", href:"assets/css/bootstrap.min.css"}/
    %link{rel: "stylesheet", href:"assets/css/main.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick-theme.css"}/
    %link{rel: "stylesheet", href:"assets/css/datepicker.css"}/
  %body
    %header#home
      %nav.navbar.navbar-expand-lg.fixed-top.navbar-fixed-js.fixed-bc 
        .container
          .main-brand
            %a.navbar-brand{:href => "index.html"}
              %img{:src => "assets/img/Home/Logo poke.svg"}/
            %button.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.ml-autos{"data-toggle" => "offcanvas", :type => "button"}
              %span.hamburger-box
                %span.hamburger-inner.color-black
          .navbar-collapse.offcanvas-collapse
            %ul.navbar-nav.mr-autos
              %li.nav-item.active
                %a.nav-link.nav-link-bc{:href => "entries.html"} Menu
              %li.nav-item
                %a.nav-link.nav-link-bc{:href => "about.html"} Nosotros
              %li.nav-item
                %a.nav-link.nav-link-bc{:href => "ubications.html"} Ubicaciones
              %li.nav-item
                %a.nav-link.nav-link-bc{:href => "poke-dots.html"} Poke puntos
              %li.nav-item
                %a.nav-link.nav-link-bc{:href => "environmental.html"} Ambiental
              %li.nav-item
                %a.nav-link.nav-link-bc.active{:href => "event.html"} Eventos
              %li.nav-item
                .main-nav__btn
                  .btn__buy
                    %a.btn-btn_custom.btn--medium.btn--filled.btn--filled--buy{:href => "https://www.rappi.com.co/"} 
                      %img{ :src => "assets/img/Home/R Rappi.svg"}/
                      %span.line
                      Pide en línea
    .main-about.main-about__height.main-about__mt{ :style=>"background-image: url('assets/img/Home/POKE_-245.png');"}
      .mask
      .container
        .main-why__content
          .main-why__item
          .main-why__item.main-why__item--event
            .main-general__title.main-general__title--event
              %h2 ¡poke para tus eventos!
              %p.format.format--white Déjanos tus datos, te llamaremos.
            %hr.line-gray.line--white
            %form
              %label.label--white Datos personales
              .form-group
                %input#formGroupExampleInput.form-control{:placeholder => "Nombre y apellido", :type => "text"}/
              .form-group
                %input#formGroupExampleInput2.form-control{:placeholder => "Teléfono", :type => "tel"}/
              .form-group
                %input#formGroupExampleInput2.form-control{:placeholder => "Correo", :type => "text"}/
              .row
                .form-group.col-md-4
                  %label.label--white{:for => "inputState"} Fecha de nacimiento
                  %input.form-control.date{:placeholder => "DD / MM / YYYY", :type => "text"}/
                .form-group.col-md-4 
                  %input.mt-4.form-control.date{:placeholder => "HH:MM", :type => "text"}/
              .row
                .form-group.col-md-4
                  %label.label--white{:for => "inputState"} invitados
                  %select#inputState.form-control
                    %option{:selected => "selected"} Adultos
                    %option ...
                .form-group.col-md-4
                  %label.label--white{:for => "inputState"} 
                  %select#inputState.form-control
                    %option{:selected => "selected"} Niños
                    %option ...
              
              .row
                .form-group.col-md-4
                  %label.label--white{:for => "inputState"} ubicacion
                  %select#inputState.form-control
                    %option{:selected => "selected"} Ciudad
                    %option ...
                .form-group.col-md-4
                  %label.label--white{:for => "inputState"} 
                  %select#inputState.form-control
                    %option{:selected => "selected"} Dirección
                    %option ...
              .form-group
                %textarea{:placeholder => "Mensaje  (opcional)",:rows => "8"}
              .custom-control.custom-checkbox.my-1.mr-sm-2
                %input#customControlInline.custom-control-input{:type => "checkbox"}/
                %label.custom-control-label.label--white{:for => "customControlInline"} 
                  Acepto 
                %a.text-link.text-link--white{ :href=>"#"}
                  %strong
                    política de privacidad 
                  y 
                %a.text-link.text-link--white{ :href=>"#"}
                  %strong
                    términos y condiciones
              .float-left
                %a.btn_custom.btn--medium.btn--filled{ :href=>"#"}
                  Enviar
               
    %footer.main-footer
      .container
        .main-footer__content
          .main-footer__item
            .main-footer__box
              .main-footer__logo
                %img{ :src => "assets/img/Home/Logo poke.svg"}/
              .main-footer__boxsmall
                .main-footer__boxitem
                  %img{ :src => "assets/img/Home/Endeavor.svg"}/
                .main-footer__boxitem
                  .main-footer__text
                    %p Part of Foodie Group S.A.S & Endeavor company
              .main-footer__address
                %a{:href=>"#"}
                  %p Cl. 69a #No.6-37 - Bogotá, Colombia
          .main-footer__item
            .main-footer__box
              .main-footer__title
                %p mas informacion
              %ul
                %li 
                  %a{ :href=>"#"}
                    ESCRÍBENOS
                %li 
                  %a{ :href=>"#"}
                    TRABAJA CON NOSOTROS
                %li 
                  %a{ :href=>"#"}
                    CUÉNTANOS TU EXPERIENCIA
                %li 
                  %a{ :href=>"#"}
                    TERMINOS Y CONDICIONES
                %li 
                  %a{ :href=>"#"}
                    POLITICA DE PRIVACIDAD
              
          .main-footer__item
            .main-footer__box
              .main-footer__title
                %p NEWSLETTER
              .main-footer__subscribe
                %form
                  .form-group
                    %input#formGroupExampleInput.form-control{:placeholder => "Correo electronico", :type => "email"}/
                  .main-footer-grid
                    .main-footer__btn
                      %button.btn_custom.btn--medium.btn--filled-gray
                        Enviar
                    .message
                      %p
                        Acepto 
                        %a.text-link{ :href=>"#"}
                          %strong
                            política de privacidad 
                        y 
                        %a.text-link{ :href=>"#"}
                          %strong
                            términos y condiciones
          .main-footer__item
            .main-footer__box
              .main-footer__redes
                %a{ :href=>""}
                  %img{ :src => "assets/img/Home/f_logo_RGB-White_1024_1024.svg"}/
                %a{ :href=>""}
                  %img{ :src => "assets/img/Home/glyph-logo_IG-01.svg"}/
                %a{ :href=>""}
                  %img{ :src => "assets/img/Home/linked in logo circulo.svg"}/
                %a{ :href=>""}
                  %img{ :src => "assets/img/Home/Twitter_Logo_WhiteOnImage.svg"}/
              .main-footer__email
                %a{:href=>"mailto:servicios@pokecolombia.co"}
                  %p servicios@pokecolombia.co
      .main-footer__copy
        %p Poke colombia, 2019 - Todos los derechos Reservados
                  
                  

    %script{src: "assets/js/jquery.min.js"}
    %script{src: "assets/js/bootstrap.min.js"}
    %script{src: "assets/js/slick.min.js"}
    %script{src: "assets/js/setting-slick.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"}
    %script{src: "assets/js/main.js"}

