!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name:"viewport"}/
    %title Poke
    %link{rel: "stylesheet", href:"assets/css/bootstrap.min.css"}/
    %link{rel: "stylesheet", href:"assets/css/main.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick-theme.css"}/
    %link{rel: "stylesheet", href:"assets/css/datepicker.css"}/
  %body
    %header#home
      %nav.navbar.navbar-expand-lg.fixed-top.navbar-fixed-js
        .container
          .main-brand
            %a.navbar-brand{:href => "index.html"}
              %img#iso{:src => "assets/img/Create_Poke/Logo poke.svg"}/
            %button.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.ml-autos{"data-toggle" => "offcanvas", :type => "button"}
              %span.hamburger-box
                %span.hamburger-inner
          .navbar-collapse.offcanvas-collapse
            %ul.navbar-nav.mr-autos
              %li.nav-item.active
                %a.nav-link{:href => "entries.html"} Menu
              %li.nav-item
                %a.nav-link{:href => "about.html"} Nosotros
              %li.nav-item
                %a.nav-link{:href => "ubications.html"} Ubicaciones
              %li.nav-item
                %a.nav-link.active{:href => "poke-dots.html"} Poke puntos
              %li.nav-item
                %a.nav-link{:href => "environmental.html"} Ambiental
              %li.nav-item
                %a.nav-link{:href => "event.html"} Eventos
              %li.nav-item
                .main-nav__btn
                  .btn__buy
                    %a.btn-btn_custom.btn--medium.btn--filled.btn--filled--buy{:href => "https://www.rappi.com.co/"} 
                      %img{ :src => "assets/img/Home/R Rappi.svg"}/
                      %span.line
                      Pide en línea
    .about-banner.about-banner--full{style:"background-image: url('assets/img/Poke_puntos/Fondo Poke Puntos.png');"}
      .overlay
      .container
        .about-banner__text.mt-4
          .about-banner__title
            %h3 Con 6 visitas
            %span puedes reclamar un
            %h3 Poke Mediano
          .btn-box.btn-box--resgister
            %a.btn_custom.btn--large.btn--filled{ :href=>"#contact"}
              regístrate aquí
          .about-banner__boximg
            .about-banner__imgs
              .about-banner__img--one
                %img{ :src => "assets/img/Poke_puntos/Logo poke puntos.png"}/
              .about-banner__img--two
                %img{ :src => "assets/img/Poke_puntos/Logo leal.png"}/
    .main-pokedots
      .container
        .main-pokedots__box
          .main-general__title.main-general__title--dots
            %h2 poke puntos 
          .main-general__description.main-general__description--dots
            %p Acumula y redime visitando nuestros puntos presenciales, por cada $ 1.500 recibes 1 punto. No válido en domicilios
      %hr.line-gray/
     
    .main-pokedots.padd-top
      .container
        .main-pokedots__box
          .main-general__title.main-general__title--dots
            %h2 tabla de premios
        .main-pokedots__content
          .main-pokedots__item
            .main-pokedots__img
              %img{ :src => "assets/img/Poke_puntos/bowl grande.png"}/
            .main-pokedots__boxtext
              .main-pokedots__text
                .main-pokedots__title
                  %p POKE GRANDE 
                  %span Puntos: 173 
              .main-pokedots__text
                .main-pokedots__title
                  %p 50% POKE GRANDE 
                  %span Puntos: 90

          .main-pokedots__item
            .main-pokedots__img
              %img{ :src => "assets/img/Poke_puntos/bowl mediano.png"}/
            .main-pokedots__boxtext
              .main-pokedots__text
                .main-pokedots__title
                  %p POKE Mediano
                  %span Puntos: 150
              .main-pokedots__text
                .main-pokedots__title
                  %p 50% POKE Mediano
                  %span Puntos: 80
          .main-pokedots__item
            .main-pokedots__img
              %img{ :src => "assets/img/Poke_puntos/limonada.png"}/
            .main-pokedots__boxtext
              .main-pokedots__text
                .main-pokedots__title
                  %p jugo
                  %span Puntos: 33
            
          .main-pokedots__item
            .main-pokedots__img
              %img{ :src => "assets/img/Poke_puntos/brownie.png"}/
            .main-pokedots__boxtext
              .main-pokedots__text
                .main-pokedots__title
                  %p POKE brownie
                  %span Puntos: 33
      %hr.line-gray/
      .container
        .main-general__description.main-general__description--requiere
          %p *Valido únicamente en puntos presenciales. No acumulable con otras promociones. Aplica en territorio nacional. Calculado con un ticket promedio de $ 36.000
              

    

    %footer.main-footer
      .container
        .main-footer__content
          .main-footer__item
            .main-footer__box
              .main-footer__logo
                %img{ :src => "assets/img/Home/Logo poke.svg"}/
              .main-footer__boxsmall
                .main-footer__boxitem
                  %img{ :src => "assets/img/Home/Endeavor.svg"}/
                .main-footer__boxitem
                  .main-footer__text
                    %p Part of Foodie Group S.A.S & Endeavor company
              .main-footer__address
                %a{:href=>"#"}
                  %p Cl. 69a #No.6-37 - Bogotá, Colombia
          .main-footer__item
            .main-footer__box
              .main-footer__title
                %p mas informacion
              %ul
                %li 
                  %a{ :href=>"#"}
                    ESCRÍBENOS
                %li 
                  %a{ :href=>"#"}
                    TRABAJA CON NOSOTROS
                %li 
                  %a{ :href=>"#"}
                    CUÉNTANOS TU EXPERIENCIA
                %li 
                  %a{ :href=>"#"}
                    TERMINOS Y CONDICIONES
                %li 
                  %a{ :href=>"#"}
                    POLITICA DE PRIVACIDAD
              
          .main-footer__item
            .main-footer__box
              .main-footer__title
                %p NEWSLETTER
              .main-footer__subscribe
                %form
                  .form-group
                    %input#formGroupExampleInput.form-control{:placeholder => "Correo electronico", :type => "email"}/
                  .main-footer-grid
                    .main-footer__btn
                      %button.btn_custom.btn--medium.btn--filled-gray
                        Enviar
                    .message
                      %p
                        Acepto 
                        %a.text-link{ :href=>"#"}
                          %strong
                            política de privacidad 
                        y 
                        %a.text-link{ :href=>"#"}
                          %strong
                            términos y condiciones
          .main-footer__item
            .main-footer__box
              .main-footer__redes
                %a{ :href=>""}
                  %img{ :src => "assets/img/Home/f_logo_RGB-White_1024_1024.svg"}/
                %a{ :href=>""}
                  %img{ :src => "assets/img/Home/glyph-logo_IG-01.svg"}/
                %a{ :href=>""}
                  %img{ :src => "assets/img/Home/linked in logo circulo.svg"}/
                %a{ :href=>""}
                  %img{ :src => "assets/img/Home/Twitter_Logo_WhiteOnImage.svg"}/
              .main-footer__email
                %a{:href=>"mailto:servicios@pokecolombia.co"}
                  %p servicios@pokecolombia.co
      .main-footer__copy
        %p Poke colombia, 2019 - Todos los derechos Reservados
                  
                  

    %script{src: "assets/js/jquery.min.js"}
    %script{src: "assets/js/bootstrap.min.js"}
    %script{src: "assets/js/slick.min.js"}
    %script{src: "assets/js/setting-slick.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"}
    %script{src: "assets/js/main.js"}
    