!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name:"viewport"}/
    %title Poke
    %link{rel: "stylesheet", href:"assets/css/bootstrap.min.css"}/
    %link{rel: "stylesheet", href:"assets/css/main.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick-theme.css"}/
    %link{rel: "stylesheet", href:"assets/css/datepicker.css"}/
  %body
    %header#home
      %nav.navbar.navbar-expand-lg.fixed-top.navbar-fixed-js
        .container
          .main-brand
            %a.navbar-brand{:href => "index.html"}
              %img#iso{:src => "assets/img/Create_Poke/Logo poke.svg"}/
            %button.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.ml-autos{"data-toggle" => "offcanvas", :type => "button"}
              %span.hamburger-box
                %span.hamburger-inner
          .navbar-collapse.offcanvas-collapse
            %ul.navbar-nav.mr-autos
              %li.nav-item.active
                %a.nav-link{:href => "entries.html"} Menu
              %li.nav-item
                %a.nav-link{:href => "about.html"} Nosotros
              %li.nav-item
                %a.nav-link.active{:href => "ubications.html"} Ubicaciones
              %li.nav-item
                %a.nav-link{:href => "poke-dots.html"} Poke puntos
              %li.nav-item
                %a.nav-link{:href => "environmental.html"} Ambiental
              %li.nav-item
                %a.nav-link{:href => "event.html"} Eventos
              %li.nav-item
                .main-nav__btn
                  .btn__buy
                    %a.btn-btn_custom.btn--medium.btn--filled.btn--filled--buy{:href => "https://www.rappi.com.co/"} 
                      %img{ :src => "assets/img/Home/R Rappi.svg"}/
                      %span.line
                      Pide en línea
    .about-banner{style:"background-image: url('assets/img/Ubication/_DSC1416.png');"}
      .overlay
      .about-banner__text.about-banner__text--center
        .about-banner__title
          %h3 Ubicaciones
    .main-ubications
      .container
        .main-ubications__content
          .main-ubications__item
            #accordion
              .card
                #headingOne.card-header
                  %h5.mb-0
                    %button.btn.btn-link.dropdown-toggle{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-target" => "#collapseOne", "data-toggle" => "collapse"}
                      Bogotá
                      

                #collapseOne.collapse.show{"aria-labelledby" => "headingOne", "data-parent" => "#accordion"}
                  .card-body
                    #v-pills-tab.nav.flex-column.nav-pills{"aria-orientation" => "vertical", :role => "tablist"}
                      %a#v-pills-home-tab.active.link-ubication{"aria-controls" => "v-pills-home", "aria-selected" => "true", "data-toggle" => "pill", :href => "#v-pills-home", :role => "tab"} Poke chia
                      %a#v-pills-profile-tab.link-ubication{"aria-controls" => "v-pills-profile", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-profile", :role => "tab"} Poke zona g
                      %a#v-pills-messages-tab.link-ubication{"aria-controls" => "v-pills-messages", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-messages", :role => "tab"} poke usaquen
                      %a#v-pills-settings-tab.link-ubication{"aria-controls" => "v-pills-settings", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-settings", :role => "tab"} Poke 81

              .card
                #headingTwo.card-header
                  %h5.mb-0
                    %button.btn.btn-link.collapsed.dropdown-toggle{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-target" => "#collapseTwo", "data-toggle" => "collapse"}
                      Cartagena
                #collapseTwo.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordion"}
                  .card-body
                    #v-pills-tab.nav.flex-column.nav-pills{"aria-orientation" => "vertical", :role => "tablist"}
                      %a#v-pills-home-tab1.active.link-ubication{"aria-controls" => "v-pills-home1", "aria-selected" => "true", "data-toggle" => "pill", :href => "#v-pills-home1", :role => "tab"} Poke chia
       
              .card
                #headingThree.card-header
                  %h5.mb-0
                    %button.btn.btn-link.collapsed.dropdown-toggle{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-target" => "#collapseThree", "data-toggle" => "collapse"}
                      Cali
                #collapseThree.collapse{"aria-labelledby" => "headingThree", "data-parent" => "#accordion"}
                  .card-body
                    #v-pills-tab.nav.flex-column.nav-pills{"aria-orientation" => "vertical", :role => "tablist"}
                      %a#v-pills-home-tab1.active.link-ubication{"aria-controls" => "v-pills-home1", "aria-selected" => "true", "data-toggle" => "pill", :href => "#v-pills-home1", :role => "tab"} Poke chia
                    

          .main-ubications__item
            #v-pills-tabContent.tab-content
              #v-pills-home.tab-pane.fade.show.active{"aria-labelledby" => "v-pills-home-tab", :role => "tabpanel"}
                .main-ubications__img
                  %img{ :src => "assets/img/Ubication/_DSC0583.png"}/
                .main-ubications__box
                  .main-ubications__boxitem
                    %ul.main-ubications__ul
                      %li Bogotá
                      %li Chia KM7 vía cajica-Chia
                      %li Horario
                      %li 12:00 PM - 9:00 PM
                      %li Teléfono
                      %li (031) 312 457 2974
                  .main-ubications__boxitem
                    .main-ubications__boxmap
                      .main-ubications__img
                        %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.2812443427174!2d-74.03770798584152!3d4.892508096447704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4078269b61d48d%3A0xe508f2e4312d07c9!2zQ2FqaWPDoSAtIENow61hICM3LCBDYWppY8OhLCBFbCBUZWphciwgQ2FqaWPDoSwgQ3VuZGluYW1hcmNhLCBDb2xvbWJpYQ!5e0!3m2!1ses-419!2sve!4v1574083831902!5m2!1ses-419!2sve", :style => "border:0;"}

              #v-pills-profile.tab-pane.fade{"aria-labelledby" => "v-pills-profile-tab", :role => "tabpanel"} 
                .main-ubications__img
                  %img{ :src => "assets/img/Ubication/_DSC0583.png"}/
                .main-ubications__box
                  .main-ubications__boxitem
                    %ul.main-ubications__ul
                      %li Bogotá
                      %li Poke Zona G, Calle 69a
                      %li Horario
                      %li 12:00 PM - 9:00 PM
                      %li Teléfono
                      %li (031) 312 457 2974
                  .main-ubications__boxitem
                    .main-ubications__boxmap
                      .main-ubications__img
                        %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.6753055978215!2d-74.05851678584267!3d4.651873096620845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a426ca84bc5%3A0x389ba1a2c993adea!2sPoke%20Zona%20G!5e0!3m2!1ses-419!2sve!4v1574084060904!5m2!1ses-419!2sve", :style => "border:0;"}

              #v-pills-messages.tab-pane.fade{"aria-labelledby" => "v-pills-messages-tab", :role => "tabpanel"} 
                .main-ubications__img
                  %img{ :src => "assets/img/Ubication/_DSC0583.png"}/
                .main-ubications__box
                  .main-ubications__boxitem
                    %ul.main-ubications__ul
                      %li Bogotá
                      %li Poke Usaquen, Calle 120a
                      %li Horario
                      %li 12:00 PM - 9:00 PM
                      %li Teléfono
                      %li (031) 312 457 2974
                  .main-ubications__boxitem
                    .main-ubications__boxmap
                      .main-ubications__img
                        %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.422381243184!2d-74.03174368584256!3d4.696444996588741!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f91ac15d4e73f%3A0xf47574c92dc45476!2sPoke%20Usaquen!5e0!3m2!1ses-419!2sve!4v1574084219796!5m2!1ses-419!2sve", :style => "border:0;"}

              #v-pills-settings.tab-pane.fade{"aria-labelledby" => "v-pills-settings-tab", :role => "tabpanel"} 
                .main-ubications__img
                  %img{ :src => "assets/img/Ubication/_DSC0583.png"}/
                .main-ubications__box
                  .main-ubications__boxitem
                    %ul.main-ubications__ul
                      %li Bogotá
                      %li Poke Calle 81, Calle 81
                      %li Horario
                      %li 12:00 PM - 9:00 PM
                      %li Teléfono
                      %li (031) 312 457 2974
                  .main-ubications__boxitem
                    .main-ubications__boxmap
                      .main-ubications__img
                        %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.6102341874607!2d-74.05323778584265!3d4.66338099661255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a60f925b217%3A0x7f95aea92dd37805!2sPoke%20Calle%2081!5e0!3m2!1ses-419!2sve!4v1574084282706!5m2!1ses-419!2sve", :style => "border:0;"}
         
              #v-pills-home1.tab-pane.fade.show{"aria-labelledby" => "v-pills-home-tab1", :role => "tabpanel"}
                .main-ubications__img
                  %img{ :src => "assets/img/Ubication/_DSC0583.png"}/
                .main-ubications__box
                  .main-ubications__boxitem
                    %ul.main-ubications__ul
                      %li Bogotá
                      %li Chia KM7 vía cajica-Chia
                      %li Horario
                      %li 12:00 PM - 9:00 PM
                      %li Teléfono
                      %li (031) 312 457 2974
                  .main-ubications__boxitem
                    .main-ubications__boxmap
                      .main-ubications__img
                        %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.2812443427174!2d-74.03770798584152!3d4.892508096447704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4078269b61d48d%3A0xe508f2e4312d07c9!2zQ2FqaWPDoSAtIENow61hICM3LCBDYWppY8OhLCBFbCBUZWphciwgQ2FqaWPDoSwgQ3VuZGluYW1hcmNhLCBDb2xvbWJpYQ!5e0!3m2!1ses-419!2sve!4v1574083831902!5m2!1ses-419!2sve", :style => "border:0;"}

            
    %footer.main-footer
      .container
        .main-footer__content
          .main-footer__item
            .main-footer__box
              .main-footer__logo
                %img{ :src => "assets/img/Home/poke bowls.svg"}/
              .main-footer__boxsmall
                .main-footer__boxitem
                  %img{ :src => "assets/img/Home/Endeavor.svg"}/
                .main-footer__boxitem
                  .main-footer__text
                    %p Part of Foodie Group S.A.S & Endeavor company
              .main-footer__address
                %a{:href=>"#"}
                  %p Cl. 69a #No.6-37 - Bogotá, Colombia
          .main-footer__item
            .main-footer__box
              .main-footer__title
                %p mas informacion
              %ul
                %li 
                  %a{ :href=>"#"}
                    ESCRÍBENOS
                %li 
                  %a{ :href=>"#"}
                    TRABAJA CON NOSOTROS
                %li 
                  %a{ :href=>"#"}
                    CUÉNTANOS TU EXPERIENCIA
                %li 
                  %a{ :href=>"#"}
                    TERMINOS Y CONDICIONES
                %li 
                  %a{ :href=>"#"}
                    POLITICA DE PRIVACIDAD
              
          .main-footer__item
            .main-footer__box
              .main-footer__title
                %p NEWSLETTER
              .main-footer__subscribe
                %form
                  .form-group
                    %input#formGroupExampleInput.form-control{:placeholder => "Correo electronico", :type => "email"}/
                  .main-footer-grid
                    .main-footer__btn
                      %button.btn_custom.btn--medium.btn--filled-gray
                        Enviar
                    .message
                      %p
                        Acepto 
                        %a.text-link{ :href=>"#"}
                          %strong
                            política de privacidad 
                        y 
                        %a.text-link{ :href=>"#"}
                          %strong
                            términos y condiciones
          .main-footer__item
            .main-footer__box
              .main-footer__redes
                %a{ :href=>""}
                  %img{ :src => "assets/img/Home/f_logo_RGB-White_1024_1024.svg"}/
                %a{ :href=>""}
                  %img{ :src => "assets/img/Home/glyph-logo_IG-01.svg"}/
                %a{ :href=>""}
                  %img{ :src => "assets/img/Home/linked in logo circulo.svg"}/
                %a{ :href=>""}
                  %img{ :src => "assets/img/Home/Twitter_Logo_WhiteOnImage.svg"}/
              .main-footer__email
                %a{:href=>"mailto:servicios@pokecolombia.co"}
                  %p servicios@pokecolombia.co
      .main-footer__copy
        %p Poke colombia, 2019 - Todos los derechos Reservados
                  
                  

    %script{src: "assets/js/jquery.min.js"}
    %script{src: "assets/js/bootstrap.min.js"}
    %script{src: "assets/js/slick.min.js"}
    %script{src: "assets/js/setting-slick.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"}
    %script{src: "assets/js/main.js"}


    