@font-face {
  font-family: 'Ostrich Sans';
  src: url("../fonts/OstrichSans-Heavy.woff2") format("woff2"), url("../fonts/OstrichSans-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #9E9E9E;
}

html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 991px) {
  .offcanvas-collapse {
    position: fixed;
    top: 80px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fff;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    padding-top: 25px;
  }

  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: #6f42c1;
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner.js-hamburger {
  background-color: #161743;
}

.hamburger-inner.js-hamburger:before {
  background-color: #161743;
}

.hamburger-inner.js-hamburger::after {
  background-color: #161743;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 35px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner.color-black,
.hamburger-inner.color-black::before,
.hamburger-inner.color-black::after {
  background-color: #000;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
  top: 6px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

.main-banner__content .slick-prev {
  z-index: 2;
  top: 93%;
  left: 41%;
}

.main-banner__content .slick-prev:before {
  font-size: 25px;
  color: #fff;
  content: "\f053";
  font-family: 'FontAwesome';
  z-index: 3;
}

.main-banner__content .slick-prev:hover {
  outline: none;
  background: transparent;
  color: #fff;
}

.main-banner__content .slick-next {
  right: 42%;
  z-index: 2;
  top: 93%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-banner__content .slick-next {
    right: 33%;
  }
}

@media (min-width: 1601px) and (max-width: 2048px) {
  .main-banner__content .slick-next {
    right: 45%;
  }
}

.main-banner__content .slick-next:before {
  font-size: 25px;
  color: #fff;
  content: "\f054";
  font-family: 'FontAwesome';
}

.main-banner__content .slick-next:hover {
  outline: none;
  background: transparent;
  color: #fff;
}

.main-banner__content .slick-dots {
  z-index: 2;
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 44%;
  transform: translateX(-44%);
  width: 0%;
  position: absolute;
}

@media (min-width: 1601px) and (max-width: 2048px) {
  .main-banner__content .slick-dots {
    bottom: 6%;
  }
}

.main-banner__content .slick-dots .slick-active button:before {
  position: absolute;
  content: '';
  background-image: url(../img/Menu_entradas/Bowl.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.main-banner__content .slick-dots li {
  margin: 0 10px;
}

.main-banner__content .slick-dots li button:before {
  color: gray;
  content: '';
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: all 300ms ease;
  background-image: url(../img/Menu_entradas/Bowl.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.main-banner__content .slick-dots li button:hover:before, .main-banner__content .slick-dots li button:focus:before {
  color: #00b050;
}

.main-election__items .slick-prev {
  z-index: 2;
  height: 40px;
  width: 40px;
  top: -20%;
  right: 3%;
  background-color: transparent;
  width: 65px;
  height: 64px;
}

.main-election__items .slick-prev:before {
  font-size: 25px;
  color: #DF8239;
  content: "\f053";
  font-family: 'FontAwesome';
  z-index: 3;
}

.main-election__items .slick-prev:hover {
  outline: none;
  background: transparent;
  color: #DF8239;
}

.main-election__items .slick-next {
  right: -1%;
  z-index: 2;
  height: 40px;
  width: 40px;
  top: -20%;
  background-color: transparent;
  width: 65px;
  height: 64px;
}

.main-election__items .slick-next:before {
  font-size: 25px;
  color: #DF8239;
  content: "\f054";
  font-family: 'FontAwesome';
}

.main-election__items .slick-next:hover {
  outline: none;
  background: transparent;
  color: #DF8239;
}

.main-election__items .slick-dots {
  z-index: 2;
  display: flex;
  position: absolute;
  bottom: -30%;
  right: 55%;
  width: 0%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-election__items .slick-dots {
    left: 40%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-election__items .slick-dots {
    left: 35%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-election__items .slick-dots {
    left: 35%;
  }
}

.main-election__items .slick-dots .slick-active button:before {
  color: #00b050;
  opacity: 0.75;
  width: 35px;
  margin: 0;
}

.main-election__items .slick-dots li {
  margin: 0 10px;
}

.main-election__items .slick-dots li button:before {
  color: gray;
  content: '';
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #DF8239;
  border-radius: 6px;
  cursor: pointer;
  transition: all 300ms ease;
}

.main-election__items .slick-dots li button:hover:before, .main-election__items .slick-dots li button:focus:before {
  color: #00b050;
}

.btn_custom {
  display: inline-block;
  width: auto;
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0;
  font-weight: 600;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  padding: 13px 50px;
  cursor: pointer;
  font-family: "Ostrich Sans";
}

.btn--small {
  padding: 8px 12px;
  min-width: 65px;
  font-size: 15px;
}

.btn--medium {
  padding: 5px 8px;
  font-size: 17px;
}

.btn--large {
  padding: 5px 15px;
  /* min-width: 105px; */
  font-size: 23px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .btn--large {
    padding: 8px 8px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .btn--large {
    padding: 12px 18px;
    font-size: 20px;
  }
}

button {
  border: none;
}

.btn--filled {
  color: #4A4A4A;
  background: #fff;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.btn--filled:hover {
  text-decoration: none;
  background: #fff;
  color: #4A4A4A;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: 0.3s ease-in-out;
}

.btn--filled.btn--filled--buy {
  background-color: #f75d63;
  color: #fff;
  text-transform: none;
  font-weight: 400;
}

.btn--filled.btn--filled--buy:hover {
  background-color: #f75d63;
  color: #fff;
}

.btn--filled.btn--filled--border {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 5px;
}

.btn--filled-gray {
  color: #fff;
  background: #686868;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Ostrich Sans";
}

.btn--filled-gray img {
  width: 30px;
}

.btn--filled-gray:hover {
  text-decoration: none;
  background: #686868;
  color: #fff;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: 0.3s ease-in-out;
}

.btn--filled-gray.active {
  background: transparent;
  border: 2px solid #686868;
  color: #686868;
}

.btn--filled-gray.active .line {
  border-right: 1px solid #686868;
}

.btn--filled-gray.active img {
  filter: brightness(0.4);
}

.btn-box {
  padding: 30px 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .btn-box {
    margin-top: 30px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .btn-box {
    padding: 0;
    margin-top: 30px;
  }
}

.btn-box.btn-box--resgister {
  width: 15%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .btn-box.btn-box--resgister {
    width: 43%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .btn-box.btn-box--resgister {
    width: 55%;
    padding-left: 10px;
  }
}

.btn-box--about {
  width: 100px;
  margin-top: 10px;
}

.btn-form__center {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 40px;
}

.btn-modal {
  width: 40%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .btn-modal {
    width: 45%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .btn-modal {
    width: 55%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .btn-modal {
    width: 100%;
  }
}

.main-nav__btn {
  margin-left: 5px;
}

.about-banner {
  background-size: cover;
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
}

.about-banner.about-banner--full {
  height: 100vh;
}

.about-banner .container {
  z-index: 999;
  margin-top: 130px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .about-banner .container {
    margin-top: 0;
  }
}

.about-banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.about-banner .about-banner__text {
  z-index: 99;
  width: 100%;
  height: 50%;
}

.about-banner .about-banner__text.about-banner__text--acenter {
  display: flex;
  align-items: center;
}

.about-banner .about-banner__text.about-banner__text--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-banner .about-banner__text.about-banner__text--center h3 {
  text-shadow: 0px 4px 11px #000000AC;
  letter-spacing: 6.86px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-banner .about-banner__text {
    padding-left: 0;
    height: 60%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .about-banner .about-banner__text {
    padding-left: 0;
    height: 40%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about-banner .about-banner__text .about-banner__title {
    padding-left: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-banner .about-banner__text .about-banner__title {
    padding-left: 10px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .about-banner .about-banner__text .about-banner__title {
    padding-left: 10px;
  }
}

.about-banner .about-banner__text .about-banner__title h3 {
  color: #fff;
  font-size: 65px;
  font-weight: 900;
  line-height: 1;
  margin: 0;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about-banner .about-banner__text .about-banner__title h3 {
    font-size: 55px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .about-banner .about-banner__text .about-banner__title h3 {
    font-size: 30px;
    padding: 0;
  }
}

.about-banner .about-banner__text .about-banner__title span {
  padding: 0 25px;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-banner .about-banner__text .about-banner__title span {
    font-size: 30px;
    font-weight: 600;
    padding: 0;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .about-banner .about-banner__text .about-banner__title span {
    font-size: 18px;
    font-weight: 600;
    padding: 0;
  }
}

.main-ourorigin__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-ourorigin__content {
    grid-template-columns: 1fr;
  }
}

.main-ourorigin__item.main-ourorigin__item--top {
  margin-top: 100px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-ourorigin__item.main-ourorigin__item--top {
    margin-top: 30px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-ourorigin__item.main-ourorigin__item--top {
    margin-top: 30px;
  }
}

.main-ourorigin__box {
  max-width: 80%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-ourorigin__box {
    max-width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-ourorigin__box {
    max-width: 90%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-ourorigin__box {
    max-width: 100%;
  }
}

.main-ourorigin__box.main-ourorigin__box--ml {
  margin-left: 17%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-ourorigin__box.main-ourorigin__box--ml {
    margin-left: 8%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-ourorigin__box.main-ourorigin__box--ml {
    margin-left: 5%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-ourorigin__box.main-ourorigin__box--ml {
    margin-left: 0%;
  }
}

.main-ourorigin__img {
  height: 780px;
}

.main-ourorigin__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-ourorigin__description p {
  text-align: right;
  color: #686868;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1.54px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-ourorigin__description p {
    font-size: 18px;
    font-weight: 500;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-ourorigin__description p {
    font-size: 18px;
    font-weight: 500;
  }
}

.main-ourorigin__description.main-ourorigin__description--left p {
  text-align: left;
}

.main-content__img {
  width: 100%;
  height: 100%;
  margin: 40px 0;
}

.main-content__img img {
  width: 100%;
  height: 100%;
}

.about-banner__imgs {
  display: flex;
  position: relative;
}

@media (min-width: 0px) and (max-width: 767px) {
  .about-banner__imgs {
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-banner__imgs .about-banner__img--one {
    width: 100px;
    margin-left: 30px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .about-banner__imgs .about-banner__img--one {
    width: 100px;
    margin-left: 10px;
  }
}

.about-banner__imgs .about-banner__img--one img {
  width: 80%;
}

.about-banner__imgs .about-banner__img--two {
  position: absolute;
  right: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-banner__imgs .about-banner__img--two {
    width: 100px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .about-banner__imgs .about-banner__img--two {
    width: 100px;
  }
}

.about-banner__imgs .about-banner__img--two img {
  width: 80%;
}

.main-pokedots {
  padding: 50px 50px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-pokedots {
    padding: 20px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-pokedots.padd-top {
    padding: 0 20px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-pokedots.padd-top {
    padding: 30px;
  }
}

.main-pokedots__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 50px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-pokedots__content {
    grid-template-columns: 1fr;
  }
}

.main-pokedots__item {
  margin-bottom: 40px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-pokedots__item {
    margin-bottom: 15px;
  }
}

.main-pokedots__img {
  width: 100%;
  height: 100%;
}

.main-pokedots__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-pokedots__boxtext {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  padding-right: 20px;
}

.main-pokedots__title p {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #686868;
  margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-pokedots__title p {
    font-size: 14px;
    font-weight: 700;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-pokedots__title p {
    font-size: 14px;
    font-weight: 700;
  }
}

.main-pokedots__title span {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  color: #686868;
  margin-bottom: 0;
}

/**** ENTRIES ****/
.main-entries {
  padding: 5px 0;
}

.main-entries__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 50px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-entries__content {
    grid-template-columns: 1fr;
  }
}

.main-entries__item {
  position: relative;
}

.main-entries__img {
  width: 100%;
  height: 100%;
}

.main-entries__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-entries__text {
  position: absolute;
  top: 20px;
  left: 20px;
}

.main-entries__title h3 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.main-entries__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-entries__nav {
    flex-direction: column;
  }
}

.nav-item.nav-item--tabs {
  padding: 0;
  margin-bottom: 15px;
}

.nav-pills {
  border-bottom: 1px solid transparent;
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-pills {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.nav-pills .nav-link--tabs {
  transition: 0.3s ease-in-out;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Ostrich Sans";
  border: 4px solid transparent;
  color: #B4B4B4;
  padding: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-pills .nav-link--tabs {
    font-size: 16px;
    font-weight: 700;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-pills .nav-link--tabs {
    font-size: 25px;
    font-weight: 700;
    padding: 2px;
  }
}

.nav-pills .nav-link--tabs:hover {
  text-decoration: none;
}

.nav-pills .nav-item.show .nav-link--tabs,
.nav-pills .nav-link--tabs.active {
  color: #4A4A4A;
  background-color: #fff;
  border: 4px solid #707070;
  border-radius: 7px;
}

/**** POKE BOWLS****/
.main-pokebowls__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 50px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-pokebowls__content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-pokebowls__content {
    grid-template-columns: 1fr;
  }
}

.main-ambiental {
  background-color: #fff;
  padding: 50px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-ambiental {
    padding: 25px;
  }
}

.main-ambiental__content {
  margin-top: 30px;
}

.main-ambiental__item {
  display: grid;
  grid-template-columns: 75% 25%;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-ambiental__item {
    grid-template-columns: 1fr;
  }
}

.main-ambiental__item.main-ambiental__item--reverse {
  grid-template-columns: 25% 75%;
  text-align: right;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-ambiental__item.main-ambiental__item--reverse {
    grid-template-columns: 1fr;
  }
}

.main-ambiental__item.main-ambiental__item--last {
  grid-template-columns: 35% 65%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-ambiental__item.main-ambiental__item--last {
    grid-template-columns: 15% 85%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-ambiental__item.main-ambiental__item--last {
    grid-template-columns: 1fr;
  }
}

.main-ambiental__smallbox {
  display: grid;
  grid-template-columns: 15% 85%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-ambiental__smallbox {
    grid-template-columns: 25% 75%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-ambiental__smallbox {
    grid-template-columns: 1fr;
  }
}

.main-ambiental__smallbox.main-ambiental__smallbox--reverse {
  grid-template-columns: 85% 15%;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-ambiental__smallbox.main-ambiental__smallbox--reverse {
    grid-template-columns: 1fr;
  }
}

.main-ambiental__title span {
  color: #686868;
  font-size: 40px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  border-bottom: 2px solid #686868;
  letter-spacing: 3.71px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-ambiental__title span {
    font-size: 30px;
    font-weight: 600;
  }
}

.main-ambiental__title p {
  color: #686868;
  font-size: 40px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.71px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-ambiental__title p {
    font-size: 30px;
    font-weight: 600;
  }
}

.main-ambiental__title.main-ambiental__mintitle p {
  color: #686868;
  font-size: 20px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.45px;
}

.main-ambiental__description.main-ambiental__description--left {
  text-align: left;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-ambiental__description.main-ambiental__description--left {
    text-align: right;
  }
}

.main-ambiental__description p {
  letter-spacing: 1.75px;
  color: #686868;
}

.main-ambiental__boxitem.main-ambiental__boxitem--top {
  margin-top: 140px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-ambiental__boxitem.main-ambiental__boxitem--top {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .order {
    order: -1;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .order.order--one {
    order: 1;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .order.order--two {
    order: -1;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .order.order--three {
    order: 3;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .order.order--four {
    order: 2;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .order.order--five {
    order: 5;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .order.order--six {
    order: 4;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .order.order--seven {
    order: 6;
  }
}

.main-work {
  padding: 130px 0 50px 0;
}

label {
  color: #686868;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  font-family: "Raleway", sans-serif;
}

label.label--white {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
}

label.label-cap {
  color: #686868;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  font-family: "Raleway", sans-serif;
  text-transform: none;
}

@media (min-width: 768px) and (max-width: 991px) {
  label {
    font-size: 15px;
    font-weight: 700;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  label {
    font-size: 15px;
    font-weight: 700;
  }
}

.label {
  color: #686868;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  font-family: "Raleway", sans-serif;
}

@media (min-width: 768px) and (max-width: 991px) {
  .label {
    font-size: 15px;
    font-weight: 700;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .label {
    font-size: 15px;
    font-weight: 700;
  }
}

.format {
  color: #686868;
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 0;
  font-family: "Raleway", sans-serif;
}

.format.format--white {
  color: #fff;
  text-transform: none;
}

.custom-control-label {
  font-size: 18px;
  font-weight: 400;
  color: #686868;
  text-transform: none;
}

@media (min-width: 0px) and (max-width: 767px) {
  .custom-control-label {
    font-size: 15px;
    font-weight: 400;
  }
}

.text-link {
  font-size: 18px;
  font-weight: 400;
  color: #686868;
  text-transform: none;
  transition: .3s ease-in-out;
}

@media (min-width: 0px) and (max-width: 767px) {
  .text-link {
    font-size: 15px;
    font-weight: 400;
  }
}

.text-link.text-link--white {
  color: #fff;
  text-decoration: underline;
  font-style: italic;
}

.text-link:hover {
  text-decoration: none;
  color: #000;
  transition: .3s ease-in-out;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="checkbox"] {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #96B5CE;
  border-radius: 0;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-family: "Raleway", sans-serif;
}

input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="checkbox"]:focus {
  background: rgba(150, 181, 206, 0.48);
  border-color: transparent !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem transparent !important;
}

input[type="text"]::placeholder,
  input[type="tel"]::placeholder,
  input[type="email"]::placeholder,
  input[type="number"]::placeholder,
  input[type="checkbox"]::placeholder {
  color: #898989 !important;
}

#inputState {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #96B5CE;
  border-radius: 0;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-family: "Raleway", sans-serif;
}

#inputState:focus {
  background: rgba(150, 181, 206, 0.48);
  border-color: transparent !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem transparent !important;
}

#inputState::placeholder {
  color: #898989 !important;
}

textarea {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #96B5CE;
  border-radius: 0;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  height: 100px;
  resize: none;
  font-family: "Raleway", sans-serif;
}

textarea:focus {
  background: rgba(150, 181, 206, 0.48);
  border-color: transparent !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem transparent !important;
}

textarea::placeholder {
  color: #898989 !important;
}

.input-file input[type="file"] {
  visibility: hidden;
  width: 1px;
  height: 1px;
  font-family: "Raleway", sans-serif;
  height: 50px;
}

.input-file .btn {
  background-color: #f75d63;
  border-color: #f75d63;
  color: #fff;
}

.input-file .file-selected {
  font-size: 10px;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 5px;
}

.main-ubications__content {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 50px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-ubications__content {
    grid-template-columns: 100%;
  }
}

.main-ubications__item {
  padding: 20px;
}

.main-ubications__img {
  width: 100%;
  height: 100%;
}

.main-ubications__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-ubications__img iframe {
  width: 100%;
  height: 400px;
}

.main-ubications__box {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 50px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-ubications__box {
    grid-template-columns: 100%;
  }
}

.main-ubications__ul {
  padding-left: 0;
  list-style: none;
}

.main-ubications__ul li {
  text-align: center;
  padding: 5px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1.47px;
  color: #707070;
}

.main-ubications__ul li:nth-child(odd) {
  font-size: 18px;
  font-weight: 700;
  background-color: #B4B4B4;
  color: #fff;
  text-transform: uppercase;
}

.card-header {
  padding: .75rem 1.25rem;
  background-color: #B4B4B4;
  border-bottom: 1px solid transparent;
}

.card-header h5 {
  text-align: center;
}

.card-header .btn-link {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.card-header .btn-link:hover, .card-header .btn-link:active, .card-header .btn-link:focus {
  text-decoration: none;
}

.card-header:first-child {
  border-radius: 0;
}

.link-ubication {
  text-align: center;
  text-transform: uppercase;
  color: #686868;
  font-size: 18px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid #686868;
  padding: 10px;
}

.link-ubication.active {
  color: #fff;
  background-color: #B4B4B4;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.link-ubication.active:nth-child(1) {
  border-top: 2px solid #686868;
}

.link-ubication:hover {
  color: #fff;
  background-color: #B4B4B4;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.card-body {
  padding: 0;
}

.main-creategeneral__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.main-creategeneral__item--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.main-creategeneral__box {
  width: 100%;
  height: 550px;
  background: #E9AAB2;
}

.main-creategeneral__subitem:hover {
  text-decoration: none;
}

.main-creategeneral__img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.main-creategeneral__img img {
  width: 100%;
  height: 60%;
  object-fit: contain;
}

.main-createpoke__header {
  background-color: #686868;
  text-align: center;
  padding: 5px;
  display: grid;
  grid-template-columns: 90% 10%;
}

.main-createpoke__text p {
  margin-bottom: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.main-createpoke__boxbody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 0;
  background-color: #fff;
}

.main-createpoke__bodytext {
  margin-top: -30px;
}

.main-createpoke__bodytext p {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.main-createpoke__img {
  width: 100%;
  height: 100%;
}

.main-createpoke__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-create-details {
  display: flex;
  align-items: baseline;
  margin-right: 5px;
}

.main-create-details span {
  margin-right: 5px;
  padding: 5px 20px;
  border-radius: 50px 50px;
  background: #B4B4B4;
}

.main-create-details p {
  color: #686868;
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
}

.main-create-boxdetails {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
}

.modal-dialog {
  max-width: 1000px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .modal-dialog {
    max-width: 900px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .modal-dialog {
    max-width: 700px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .modal-dialog {
    max-width: 100%;
  }
}

.modal-body {
  padding: 0;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.close span {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1;
  color: #C5614F;
}

.main-modal__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-modal__content {
    grid-template-columns: 1fr;
  }
}

.main-modal__img {
  width: 100%;
  height: 100%;
}

.main-modal__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-modal__title p {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 3.2px;
  color: #686868;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-modal__title p {
    font-size: 40px;
    font-weight: 700;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-modal__title p {
    font-size: 35px;
    font-weight: 700;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-modal__title p {
    font-size: 30px;
    font-weight: 700;
  }
}

.main-modal__description {
  padding: 40px 0 20px 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-modal__description {
    padding: 15px 0 10px 0;
  }
}

.main-modal__description strong {
  letter-spacing: 1.82px;
  color: #686868;
  font-family: "Raleway", sans-serif;
}

.main-modal__description p {
  letter-spacing: 1.82px;
  color: #686868;
  font-family: "Raleway", sans-serif;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-modal__description p {
    font-size: 15px;
    font-weight: 300;
  }
}

.main-modal__details p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 3.2px;
  color: #686868;
  font-style: italic;
  font-family: "Raleway", sans-serif;
}

.main-modal__details {
  display: flex;
  align-items: baseline;
  font-family: "Raleway", sans-serif;
}

.main-modal__details span {
  margin-right: 10px;
  background-color: #B4B4B4;
}

.main-modal__boxdetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-modal__boxdetails {
    grid-template-columns: 1fr;
  }
}

.main-modal__item:nth-child(2) {
  padding: 20px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-modal__item:nth-child(2) {
    padding: 10px;
  }
}

.main-modal__price {
  padding: 40px 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-modal__price {
    padding: 20px 0;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-modal__price {
    padding: 20px 0;
  }
}

.main-modal__price .main-modal__smallprice {
  display: flex;
}

.main-modal__price .main-modal__smallprice span {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 3.2px;
  color: #686868;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  margin-right: 5px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-modal__price .main-modal__smallprice span {
    font-size: 18px;
    font-weight: 700;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-modal__price .main-modal__smallprice span {
    font-size: 18px;
    font-weight: 700;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-modal__price .main-modal__smallprice span {
    font-size: 18px;
    font-weight: 700;
  }
}

.main-modal__price p {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 3.2px;
  color: #686868;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  margin-bottom: 0px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-modal__price p {
    font-size: 18px;
    font-weight: 700;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-modal__price p {
    font-size: 18px;
    font-weight: 700;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-modal__price p {
    font-size: 18px;
    font-weight: 700;
  }
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  padding-top: 0;
  background-color: #f3f3f3;
}

@media (min-width: 768px) and (max-width: 991px) {
  .mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 100px 0 0 0;
  position: relative;
}

@media (min-width: 0px) and (max-width: 767px) {
  section {
    padding: 50px 0 0 0;
  }
}

button:focus {
  outline: 5px auto transparent;
}

.line {
  border-right: 1px solid #fff;
  margin: 0 10px;
}

.line.line-color {
  border-right: 1px solid rgba(112, 112, 112, 0.35);
  margin: 20px 10px;
}

.line-gray {
  border: 1px solid rgba(112, 112, 112, 0.35);
  width: 78%;
  margin: 50px 0 0 150px;
}

.line-gray.line--white {
  border: 1px solid #fff;
  margin: 10px 0 10px 0px;
}

.line-gray.line-gray--entries {
  margin: 0;
  width: 100%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .line-gray {
    margin: 50px 0;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .line-gray {
    margin: 50px 0;
    width: 100%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .line-gray {
    margin: 50px 0 0 15px;
    width: 90%;
  }
}

.img-round {
  border-radius: 5px;
}

.navbar {
  background-color: transparent;
  transition: 0.3s ease-in-out;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 85px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    height: 80px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .navbar {
    height: 75px;
  }
}

.navbar.fixed {
  height: 85px;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  justify-content: center;
}

.navbar.fixed-bc {
  height: 85px;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  justify-content: center;
}

.nav-item {
  padding: 0 18px;
  display: flex;
  align-items: center;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .nav-item {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-item {
    padding: 5px 18px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-item {
    padding: 5px 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.nav-link {
  color: #fff;
  transition: 0.3s ease-in-out;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Ostrich Sans";
  border: 2px solid transparent;
  padding: 0px 10px;
  border-radius: 5px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-link {
    color: #000;
  }
}

.nav-link.fixed-color {
  color: #000;
  transition: 0.3s ease-in-out;
}

.nav-link.fixed-color:hover {
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
}

.nav-link.fixed-color.active {
  border: 2px solid #000;
  padding: 0px 10px;
  border-radius: 5px;
}

.nav-link.nav-link-bc {
  color: #000;
  transition: 0.3s ease-in-out;
}

.nav-link.nav-link-bc:hover {
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
}

.nav-link.nav-link-bc.active {
  border: 2px solid #000;
  padding: 0px 10px;
  border-radius: 5px;
}

.nav-link.active {
  border: 2px solid #fff;
  padding: 0px 10px;
  border-radius: 5px;
}

.nav-link:hover {
  color: #fff;
}

.navbar-brand {
  width: 80px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-brand {
    width: 60px;
    margin-left: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand {
    width: 60px;
    margin-left: 10px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .navbar-brand {
    width: 60px;
    margin-left: 10px;
  }
}

.navbar-brand img {
  width: 100%;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-top__header {
  width: 100%;
  background-color: #000;
  padding: 10px;
  transition: 0.3s ease-in-out;
}

.nav-top__header.nav-top__header--detele {
  display: none !important;
  transition: 0.3s ease-in-out;
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-top__header {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-top__header {
    display: none;
  }
}

.nav-top__content {
  padding: 0 100px;
}

.main-nav__contact a {
  color: #fff;
  text-decoration: none;
}

.main-nav__redes a {
  color: #fff;
  margin-right: 5px;
  transition: 0.3s ease-in-out;
}

.main-nav__redes a:hover {
  transition: 0.3s ease-in-out;
  color: #DF8239;
}

/** Banner */
.main-banner {
  position: relative;
  overflow: hidden;
}

.main-banner .main-banner__item {
  position: relative;
}

.main-banner .mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.main-banner .mask .container {
  height: 100%;
}

.main-banner .mask .main-banner__boxtext {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.main-banner .mask .main-banner__text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-banner .mask .main-banner__text {
    padding-left: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-banner .mask .main-banner__text {
    padding-left: 30px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner .mask .main-banner__text {
    padding-left: 30px;
  }
}

.main-banner .mask .main-banner__text .main-banner__title {
  text-transform: uppercase;
  letter-spacing: 6.3px;
  text-shadow: 0px 4px 4px #00000029;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-banner .mask .main-banner__text .main-banner__title {
    text-align: left;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner .mask .main-banner__text .main-banner__title {
    text-align: left;
  }
}

.main-banner .mask .main-banner__text .main-banner__title.title-color-gray h1 {
  color: #4C4C4C;
}

.main-banner .mask .main-banner__text .main-banner__title h1 {
  padding: 0px;
  color: #fff;
  font-size: 65px;
  font-weight: 900;
  line-height: 1;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-banner .mask .main-banner__text .main-banner__title h1 {
    font-size: 55px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner .mask .main-banner__text .main-banner__title h1 {
    font-size: 30px;
    padding: 0;
  }
}

.main-banner .mask .main-banner__text .main-banner__title span {
  padding: 0 25px;
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.main-banner .mask .main-banner__text .main-banner__description {
  padding: 0 25px;
  color: #fff;
  font-size: 20px;
  line-height: 2rem;
  margin: 50px 0 0 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-banner .mask .main-banner__text .main-banner__description {
    font-size: 18px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner .mask .main-banner__text .main-banner__description {
    font-size: 18px;
    padding: 0;
  }
}

.main-banner .main-banner__img {
  width: 100%;
  height: 100vh;
}

.main-banner .main-banner__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-general__title h2 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 6.86px;
  font-size: 80px;
  font-weight: 700;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-general__title h2 {
    letter-spacing: 0px;
    font-size: 60px;
    font-weight: 700;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-general__title h2 {
    letter-spacing: 0px;
    font-size: 60px;
    font-weight: 700;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-general__title h2 {
    letter-spacing: 0px;
    font-size: 45px;
    font-weight: 700;
  }
}

.main-general__title.main-general__title--font h2 {
  letter-spacing: 5.25px;
  font-size: 75px;
  font-weight: 700;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-general__title.main-general__title--font h2 {
    letter-spacing: 0.25px;
    font-size: 50px;
    font-weight: 700;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-general__title.main-general__title--font h2 {
    letter-spacing: 0.25px;
    font-size: 50px;
    font-weight: 700;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-general__title.main-general__title--font h2 {
    letter-spacing: 0.25px;
    font-size: 50px;
    font-weight: 700;
  }
}

.main-general__title.main-general__title--event h2 {
  letter-spacing: 5.25px;
  font-size: 45px;
  font-weight: 700;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-general__title.main-general__title--event h2 {
    letter-spacing: 0.25px;
    font-size: 40px;
    font-weight: 700;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-general__title.main-general__title--event h2 {
    letter-spacing: 0.25px;
    font-size: 40px;
    font-weight: 700;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-general__title.main-general__title--event h2 {
    letter-spacing: 0.25px;
    font-size: 40px;
    font-weight: 700;
  }
}

.main-general__title.main-general__title--color h2 {
  letter-spacing: 5.25px;
  font-size: 75px;
  font-weight: 700;
  color: #686868;
  text-align: right;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-general__title.main-general__title--color h2 {
    letter-spacing: 0.25px;
    font-size: 50px;
    font-weight: 700;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-general__title.main-general__title--color h2 {
    letter-spacing: 0.25px;
    font-size: 50px;
    font-weight: 700;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-general__title.main-general__title--color h2 {
    letter-spacing: 0.25px;
    font-size: 50px;
    font-weight: 700;
  }
}

.main-general__title.main-general__title--color.title--left h2 {
  text-align: left;
}

.main-general__title.main-general__title--dots h2 {
  letter-spacing: 5.25px;
  font-size: 75px;
  font-weight: 700;
  color: #686868;
  text-align: left;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-general__title.main-general__title--dots h2 {
    font-size: 65px;
    font-weight: 700;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-general__title.main-general__title--dots h2 {
    font-size: 55px;
    font-weight: 700;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-general__title.main-general__title--dots h2 {
    font-size: 45px;
    font-weight: 700;
  }
}

.main-general__description p {
  letter-spacing: 2.45px;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-general__description p {
    font-size: 20px;
    font-weight: 500;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-general__description p {
    font-size: 20px;
    font-weight: 500;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-general__description p {
    font-size: 18px;
    font-weight: 500;
  }
}

.main-general__description strong {
  color: #fff;
  font-size: 25px;
  font-weight: 900;
}

.main-general__description.main-general__description--font p {
  letter-spacing: 1.54px;
  font-size: 22px;
  font-weight: 500;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-general__description.main-general__description--font p {
    font-size: 20px;
    font-weight: 500;
  }
}

.main-general__description.main-general__description--dots p {
  color: #686868;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2.1px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-general__description.main-general__description--dots p {
    font-size: 20px;
    font-weight: 500;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-general__description.main-general__description--dots p {
    font-size: 20px;
    font-weight: 500;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-general__description.main-general__description--dots p {
    font-size: 18px;
    font-weight: 500;
  }
}

.main-general__description.main-general__description--create {
  margin-top: 40px;
}

.main-general__description.main-general__description--create p {
  color: #686868;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2.1px;
  text-align: center;
}

.main-general__description.main-general__description--amb p {
  color: #686868;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2.1px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-general__description.main-general__description--amb p {
    font-size: 20px;
    font-weight: 500;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-general__description.main-general__description--amb p {
    font-size: 20px;
    font-weight: 500;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-general__description.main-general__description--amb p {
    font-size: 18px;
    font-weight: 500;
  }
}

.main-general__description.main-general__description--amb.main-general__description--work p {
  font-size: 35px;
  font-weight: 900;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-general__description.main-general__description--amb.main-general__description--work p {
    font-size: 30px;
    font-weight: 900;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-general__description.main-general__description--amb.main-general__description--work p {
    font-size: 25px;
    font-weight: 900;
  }
}

.main-general__description.main-general__description--requiere p {
  color: #686868;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 20px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-general__description.main-general__description--requiere p {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
}

.main-general__boxsubtitle {
  padding: 30px;
}

.main-general__subtitle {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.main-general__subtitle h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-general__subtitle:before {
  content: '';
  width: 390px;
  height: 1px;
  position: absolute;
  background-color: #686868;
  left: 0;
  top: 10px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-general__subtitle:before {
    width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-general__subtitle:before {
    width: 150px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-general__subtitle:before {
    width: 45px;
    left: -35px;
    top: 10px;
    transform: translateX(0px);
  }
}

.main-general__subtitle:after {
  content: '';
  width: 390px;
  height: 1px;
  position: absolute;
  background-color: #686868;
  position: absolute;
  right: 0;
  top: 10px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-general__subtitle:after {
    width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-general__subtitle:after {
    width: 150px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-general__subtitle:after {
    width: 45px;
    right: -35px;
    top: 10px;
    transform: translateX(0px);
  }
}

.main-general__subtitle--medium {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-general__subtitle--medium h4 {
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
}

.main-about {
  background-size: cover;
  height: 1000px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-about {
    height: auto;
    padding: 20px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-about {
    height: auto;
  }
}

.main-about.main-about__height {
  height: 900px;
  position: relative;
  z-index: -1;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-about.main-about__height {
    height: auto;
  }
}

.main-about__mt {
  margin-top: 85px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-about__mt {
    margin-top: 0;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-about__mt {
    margin-top: 0;
  }
}

.main-about__content {
  width: 100%;
  height: 900px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-about__content {
    height: 500px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-about__content {
    height: 800px;
  }
}

.main-about__item {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-about__item {
    width: 100%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-about__item {
    width: 100%;
  }
}

.main-why__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-why__content {
    grid-template-columns: 1fr 2fr;
    grid-gap: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-why__content {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-why__content {
    grid-template-columns: 1fr;
  }
}

.main-why__item:nth-child(2) {
  padding: 100px 0;
}

.main-why__item.main-why__item--event {
  padding: 60px 0;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-why__item.main-why__item--event {
    padding: 110px 0 30px;
  }
}

.main-follow__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-follow__content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-follow__content {
    grid-template-columns: 1fr;
  }
}

.main-follow__img img {
  width: 100%;
  height: 100%;
}

.main-footer {
  background-color: #fff;
}

.main-footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 50px 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-footer__content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-footer__content {
    grid-template-columns: 1fr;
    padding: 50px 0 10px 0;
  }
}

.main-footer__boxsmall {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 20px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-footer__boxsmall {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.main-footer__text p {
  font-style: italic;
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #686868;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-footer__text p {
    text-align: center;
  }
}

.main-footer__address a:hover {
  text-decoration: none;
}

.main-footer__address p {
  font-style: normal;
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #686868;
}

.main-footer__title p {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-footer__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.main-footer__box ul {
  list-style: none;
  padding: 0;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-footer__box ul li {
    text-align: center;
  }
}

.main-footer__box ul li a {
  color: #686868;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  transition: 0.3s ease-in-out;
}

.main-footer__box ul li a:hover {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.main-footer__btn {
  margin-right: 7px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-footer__btn {
    justify-content: center;
  }
}

.main-footer__redes {
  display: flex;
}

.main-footer__redes a {
  margin-right: 22px;
  transition: 0.3s ease-in-out;
}

.main-footer__redes a:hover {
  transform: translateY(-5px);
  transition: 0.3s ease-in-out;
}

.main-footer__email {
  margin-top: 20px;
}

.main-footer__email a {
  color: #000;
}

.main-footer__email a:hover {
  text-decoration: none;
}

.main-footer__copy {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F3F3F3;
  align-items: center;
  padding: 10px;
}

.main-footer__copy p {
  color: #000;
  margin-bottom: 0;
  font-weight: 700;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-footer__copy p {
    text-align: center;
  }
}

.main-footer-grid {
  display: flex;
}

.message p {
  text-align: left;
  letter-spacing: 0;
  color: #000000;
  font-size: 15px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}

.message p .text-link {
  font-size: 15px;
}
