.main-ambiental {
  background-color: $white;
  padding: 50px;

  @include respond-to(xs) {
    padding: 25px;
  }
}

.main-ambiental__content {
  margin-top: 30px;
}

.main-ambiental__item {
  display: grid;
  grid-template-columns: 75% 25%;

  @include respond-to(xs) {
    grid-template-columns: 1fr;
  }

  &.main-ambiental__item--reverse {
    grid-template-columns: 25% 75%;
    text-align: right;

    @include respond-to(xs) {
      grid-template-columns: 1fr;
    }
  }

  &.main-ambiental__item--last {
    grid-template-columns: 35% 65%;

    @include respond-to(sm) {
      grid-template-columns: 15% 85%;
    }

    @include respond-to(xs) {
      grid-template-columns: 1fr;
    }
  }
}

.main-ambiental__smallbox {
  display: grid;
  grid-template-columns: 15% 85%;

  @include respond-to(sm) {
    grid-template-columns: 25% 75%;
  }

  @include respond-to(xs) {
    grid-template-columns: 1fr;
  }

  &.main-ambiental__smallbox--reverse {
    grid-template-columns: 85% 15%;

    @include respond-to(xs) {
      grid-template-columns: 1fr;
    }
  }


}

.main-ambiental__title {
  span {
    color: $text;
    @include font(40px, $semibold);
    font-family: $Raleway;
    border-bottom: 2px solid $text;
    letter-spacing: 3.71px;

    @include respond-to(xs) {
      @include font(30px, $semibold);
    }
  }

  p {
    color: $text;
    @include font(40px, $semibold);
    font-family: $Raleway;
    text-transform: uppercase;
    letter-spacing: 3.71px;

    @include respond-to(xs) {
      @include font(30px, $semibold);
    }
  }

  &.main-ambiental__mintitle {
    p {
      color: $text;
      @include font(20px, $semibold);
      font-family: $Raleway;
      text-transform: uppercase;
      letter-spacing: 2.45px;
    }
  }
}

.main-ambiental__description {

  &.main-ambiental__description--left {
    text-align: left;

    @include respond-to(xs) {
      text-align: right;
    }
  }

  p {
    letter-spacing: 1.75px;
    color: $text;
  }
}

.main-ambiental__boxitem {
  &.main-ambiental__boxitem--top {
    margin-top: 140px;

    @include respond-to(xs) {
      display: none;
    }
  }
}


.order {
  @include respond-to(xs) {
    order: -1;
  }

}

.order {
  &.order--one {
    @include respond-to(xs) {
      order: 1;
    }
  }

  &.order--two {
    @include respond-to(xs) {
      order: -1;
    }
  }

  &.order--three {
    @include respond-to(xs) {
      order: 3;
    }
  }

  &.order--four {
    @include respond-to(xs) {
      order: 2;
    }
  }

  &.order--five {
    @include respond-to(xs) {
      order: 5;
    }
  }

  &.order--six {
    @include respond-to(xs) {
      order: 4;
    }
  }

  &.order--seven {
    @include respond-to(xs) {
      order: 6;
    }
  }
}