.modal{
  padding-right: 0 !important;
}

.modal__flex{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  max-width: 1000px;

  @include respond-to(md) {
    max-width: 900px;
  }

  @include respond-to(sm) {
    max-width: 700px;
  }

  @include respond-to(xs) {
    max-width: 100%;
  }
}

.modal-body {
  padding: 0;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;

  span {
    font-size: 3.0rem;
    font-weight: 400;
    line-height: 1;
    color: #C5614F;
  }
}

.main-modal__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include respond-to(sm) {
    grid-template-columns: 1fr;
  }
  @include respond-to(xs) {
    grid-template-columns: 1fr;
  }
}

.main-modal__img {
  width: 100%;
  height: 100%;

  @include respond-to(xs){
    height: 355px;
  }


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main-modal__title {
  height: 100%;
    align-items: center;
  p {
    @include font(45px, 800);
    letter-spacing: 0.2px;
    color: $text;
    text-transform: uppercase;
    font-family: $Raleway;
    // margin-top: -10px;
    line-height: 1;
    margin-top: 20px;
    

    @include respond-to(md) {
      @include font(40px, $bold);
      
    }

    @include respond-to(sm) {
      @include font(35px, $bold);
      margin-top: 0;
    }

    @include respond-to(xs) {
      @include font(30px, $bold);
      margin-top: 0;
    }
  }
}

.main-modal__description {
  padding: 15px 0 20px 0;

  @include respond-to(sm) {
    padding: 15px 0 10px 0;
  }

  strong {
    letter-spacing: 1.82px;
    color: $text;
    font-family: $Raleway;
    font-style: italic;
  }

  p {
    letter-spacing: 1.82px;
    color: $text;
    font-family: $Raleway;
    font-style: italic;

    @include respond-to(xs) {
      @include font(15px, $light);
    }
  }
}

.main-modal__details {
  p {
    @include font(15px, $light);
    letter-spacing: 0px;
    color: $text;
    font-style: italic;
    font-family: $Raleway;
  }
 
}



.main-modal__details {
  display: flex;
  align-items: baseline;
  font-family: $Raleway;

  span {
    margin-right: 10px;
    background-color: #B4B4B4;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    min-width: 45px;
    font-family: $Acumin;
    font-size: 15px;
 
  }
}

.main-modal__boxdetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px 0;

  @include respond-to(xs) {
    grid-template-columns: 1fr;
  }

}

.main-modal__item {
  &:nth-child(2) {
    padding: 20px;

    @include respond-to(xs) {
      padding: 10px;
    }
  }
}

.main-modal__price {
  padding: 15px 0;

  @include respond-to(sm) {
    padding: 20px 0;
  }

  @include respond-to(xs) {
    padding: 20px 0;
  }

  .main-modal__smallprice {
    display: flex;

    span {
      @include font(23px, $semibold);
      letter-spacing: 3.2px;
      color: $text;
      text-transform: uppercase;
      font-family: $Raleway;
      margin-right: 5px;
      font-family: $Acumin;

      @include respond-to(md) {
        @include font(18px, $bold);
      }

      @include respond-to(sm) {
        @include font(18px, $bold);
      }

      @include respond-to(xs) {
        @include font(18px, $bold);
      }
    }
  }

  p {
    @include font(23px, $semibold);
    letter-spacing: 1.2px;
    color: $text;
    text-transform: uppercase;
    // font-family: $Raleway;
    margin-bottom: 0px;
    font-family: $Acumin;

    @include respond-to(md) {
      @include font(18px, $bold);
    }

    @include respond-to(sm) {
      @include font(18px, $bold);
    }

    @include respond-to(xs) {
      @include font(18px, $bold);
    }
  }
}

.main-modals__icons{
  height: 40px;
    display: flex;
    align-items: center;

    @include respond-to(xs){
      margin-top: 0 !important;
    }
  img{
    width:25px;
    margin-right: 5px;
    height: 30px;
  }
}

.badge{
  img{
    width: 30px;
  }
}
@media (max-width: 767px) {
  .modal__flex{
  height:auto;
  }
}