.main-ubications{
  .container{
    @include respond-to(sm){
      padding: 0;
    }
    @include respond-to(xs){
      padding: 0;
    }
  }
}

.main-ubications__content {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-top: 15px;
  grid-gap: 20px;
  @include respond-to(sm) {
    grid-template-columns: 35% 65%;
  }
  @include respond-to(xs) {
    grid-template-columns: 100%;
  }
}

.main-ubications__item {
  padding: 20px;

  @include respond-to(md){
    padding: 20px 20px 20px 0;
  }

  @include respond-to(sm){
    padding: 20px 20px 20px 0;
  }
}

.main-ubications__img {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  iframe {
    width: 100%;
    height: 400px;
  }
}
  
.main-ubications__box {
  display: grid;
  grid-template-columns: 35% 65%;
  margin-top: 50px;
  @include respond-to(sm) {
    grid-template-columns: 100%;
  }
  @include respond-to(xs) {
    grid-template-columns: 100%;
  }
}
  
.main-ubications__ul {
  padding-left: 0;
  list-style: none;

  li {
    text-align: center;
    padding: 5px;
    @include font(15px, $regular);
    letter-spacing: 1.47px;
    color: #707070;
    font-family: $Segoe;
    text-transform: lowercase;

    &:nth-child(odd) {
      font-size: 18px;
      font-weight: 700;
      background-color: transparent;
      color: #707070;
      text-transform: uppercase;
      border-bottom: 1px solid #707070;
      width: 80%;
      margin: auto;
      margin-bottom: 15px;
  

    }
  }
}
  
  
.card-header {
  padding: .75rem 1.25rem;
  background-color: #B4B4B4;
  border-bottom: 1px solid transparent;

  h5 {
    text-align: center;
  }

  .btn-link {
    color: $white;
    text-align: center;
    text-transform: uppercase;
    @include font(18px, $bold);

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}
  
.card-header:first-child {
  border-radius: 0;
}


  
.link-ubication {
  text-align: center;
  text-transform: uppercase;
  color: #b4b4b4;
  font-size: 18px;
  font-weight: 800;
  transition: 0.3s ease-in-out;
  // border-bottom: 1px solid #686868;
  padding: 15px 10px;
  position: relative;

  
  &:after{
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: #686868;
    bottom: 0;
    left: 20px;
    transform: translate(0px);
  }

  // &:nth-child(1){
  //   &:after{
  //     display: none;
  //   }
  // }

  &:last-child{
    &:after{
      display: none;
    }
  }
  &.link-ubication--border{
    border-bottom: 1px solid transparent;
    display: flex;
    justify-content: center;

    &:hover{
      background-color: transparent;
    }
  }
  &.active {
    color: #707070;
    /* background-color: #B4B4B4; */
    transition: 0.3s ease-in-out;
    text-decoration: none;

  }

  #poke-aeropuerto-tab{
    border-bottom: 1px solid transparent;
  }
  &:last-child{
    border-bottom: 1px solid transparent;
  }


  &:hover {
    color: $white;
    background-color: #B4B4B4;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    i{
      color:#686868;
    }
  }
  &.first-icons{
    i{
      font-size: 35px;
      color:#A19E9E;
    }
  }
  &.last-icons{
    
    &:hover{
      cursor: pointer;
    }
    i{
  
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 14px;
      border-bottom-width: 0px;
      border-color: #686868 transparent transparent transparent;
    }
  }
}

.card-body {
  padding: 0;
}





body {
  background: grey;
}

#box {
  width: 150px;
  position: relative;
  top: 35px;
  margin: auto;
  opacity: 0;
}

#open, .bar {
  width: 25px;
  position: absolute;
  right: 0;
}

#open {
  background: url(//www.anony.ws/i/2015/09/15/arrow.png) center;
  box-shadow: inset 0 0 3px black;
  z-index: 1;
}

select {
  border-radius: 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  /* height: 50px; */
  text-align-last: center;
  padding: 10px 0;
}

option:hover {
  color: black;
  background: #edece6;
}

#mark {
  width: 100%;
  position: absolute;
  top: 0;
}

.bar {
  height: 100%;
  top: 0;
  background: grey;
  box-shadow: -2px 0 0 -1px grey, 0 0 0 1px grey;
}


