.main-ubications__content {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-top: 50px;
  grid-gap: 20px;

  @include respond-to(xs) {
    grid-template-columns: 100%;
  }
}

.main-ubications__item {
  padding: 20px;
}

.main-ubications__img {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  iframe {
    width: 100%;
    height: 400px;
  }
}
  
.main-ubications__box {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 50px;

  @include respond-to(xs) {
    grid-template-columns: 100%;
  }
}
  
.main-ubications__ul {
  padding-left: 0;
  list-style: none;

  li {
    text-align: center;
    padding: 5px;
    @include font(15px, $regular);
    letter-spacing: 1.47px;
    color: #707070;
    font-family: $Segoe;
    text-transform: lowercase;

    &:nth-child(odd) {
      @include font(18px, $bold);
      background-color: #B4B4B4;
      color: $white;
      text-transform: uppercase;

    }
  }
}
  
  
.card-header {
  padding: .75rem 1.25rem;
  background-color: #B4B4B4;
  border-bottom: 1px solid transparent;

  h5 {
    text-align: center;
  }

  .btn-link {
    color: $white;
    text-align: center;
    text-transform: uppercase;
    @include font(18px, $bold);

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}
  
.card-header:first-child {
  border-radius: 0;
}


  
.link-ubication {
  text-align: center;
  text-transform: uppercase;
  color: #686868;
  font-size: 18px;
  font-weight: 800;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid #686868;
  padding: 10px;
  &.link-ubication--border{
    border-bottom: 2px solid transparent;
    display: flex;
    justify-content: center;

    &:hover{
      background-color: transparent;
    }
  }
  &.active {
    color: $white;
    background-color: #B4B4B4;
    transition: 0.3s ease-in-out;
    text-decoration: none;

    &:nth-child(1) {
      border-top: 2px solid #686868;
    }
  }


  &:hover {
    color: $white;
    background-color: #B4B4B4;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    i{
      color:#686868;
    }
  }
  &.first-icons{
    i{
      font-size: 35px;
      color:#A19E9E;
    }
  }
  &.last-icons{
    i{
      font-size: 35px;
      color:#686868;
    }
  }
}

.card-body {
  padding: 0;
}
