.main-work {
  padding: 130px 0 50px 0;
}

label {
  color: $text;
  @include font(20px, $bold);
  text-transform: uppercase;
  letter-spacing: 0;
  font-family: $Raleway;

  &.label--white {
    color: $white;
    @include font(14px, $bold);
    margin-bottom: 0;
  }

  &.label-cap {
    color: $text;
    @include font(18px, $semibold);
    letter-spacing: 0;
    font-family: $Raleway;
    text-transform: none;
  }

  @include respond-to(sm) {
    @include font(15px, $bold);
  }

  @include respond-to(xs) {
    @include font(15px, $bold);
  }
}

.label {
  color: $text;
  @include font(20px, $bold);
  text-transform: uppercase;
  letter-spacing: 0;
  font-family: $Raleway;

  @include respond-to(sm) {
    @include font(15px, $bold);
  }

  @include respond-to(xs) {
    @include font(15px, $bold);
  }


}

.format {
  color: $text;
  @include font(14px, $light);
  text-transform: capitalize;
  letter-spacing: 0;
  font-family: $Raleway;

  &.format--white {
    color: $white;
    text-transform: none;
  }
}

.custom-control-label {
  @include font(18px, $regular);
  color: $text;
  text-transform: none;

  @include respond-to(xs) {
    @include font(15px, $regular);
  }
}

.text-link {
  @include font(18px, $light);
  color: $text;
  text-transform: none;
  transition: .3s ease-in-out;


  @include respond-to(xs) {
    @include font(15px, $light);
  }

  &.text-link--white {
    color: $white;
    text-decoration: underline;
    // font-style: italic;
    font-family: $Raleway;
    strong{
      font-style: italic;
    font-family: $Raleway;
    }

  }

  &:hover {
    text-decoration: none;
    color: $black;
    transition: .3s ease-in-out;
  }
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="checkbox"] {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 1.3rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid rgba(104, 104, 104, 0.24);
  border-radius: 0;
  transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  font-family: $Raleway;

  &:focus {
    // background: rgba(104, 104, 104, 0.24);
    border-color: #686868 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparent !important;

  }

  &::placeholder {
    color: #898989 !important;
    font-weight: 500;
  }
}

.input-footer{
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 1.3rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #686868 !important;
  border-radius: 0;
  transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  font-family: $Raleway;
  border-radius: 5px !important;

  &:focus {
    background: transparent;
    border-color: #686868 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparent !important;

  }

  &::placeholder {
    color: #898989 !important;
    font-weight: 800;
  }
}



.input-footer::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   color: #898989 !important;
    font-weight: 800;
}
.input-footer::-moz-placeholder { /* Firefox 19+ */
   color: #898989 !important;
    font-weight: 800;
}
.input-footer:-ms-input-placeholder { /* IE 10+ */
   color: #898989 !important;
    font-weight: 800;
}
.input-footer:-moz-placeholder { /* Firefox 18- */
   color: #898989 !important;
    font-weight: 800;
}
.select-ubication{
  border-radius: 0;
  background-color: #b4b4b4;
  color: #fff;
  text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    height:50px;
    text-align-last: center;
    &:active{
      background-color: #b4b4b4;
    }
    &:focus{
      border-color: transparent !important;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
      background-color: #b4b4b4;
      // color: #fff;
    }
  
}
#inputState {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 1.3rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid rgba(104, 104, 104, 0.24);;
  border-radius: 0;
  transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  font-family: $Raleway;

  &:focus {
    background:#fff;
    border-color: #686868 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparent !important;

  }

  &::placeholder {
    color: #898989 !important;
  }
}




textarea {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 1.3rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid rgba(104, 104, 104, 0.24);;
  border-radius: 0;
  transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  height: 100px;
  resize: none;
  font-family: $Raleway;


  &:focus {
    background:#fff;
    border-color: #686868 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparent !important;

  }

  &::placeholder {
    color: #898989 !important;
  }
}

// Input Styles
.input-file {
  input[type="file"] {
    visibility: hidden;
    width: 1px;
    height: 1px;
    font-family: $Raleway;
    height: 50px;
  }

  .btn {
    background-color: #f75d63;
    border-color: #f75d63;
    color: $white;
  }

  .file-selected {
    font-size: 10px;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 5px;
  }
}