@import "variables";
@import "mixins";
@import "body";
@import "offcanvas";
@import "setting-slick";
@import "buttons";
@import "about";
@import "poke-dots";
@import "entries";
@import "environmental";
@import "work";
@import "ubication";
@import "createpokebolw";
@import "modals";

#iso {
  filter: brightness(0) invert(1);
}
#iso.active {
  filter: brightness(0);
}
.display_none {
  display: none;
}

.display_block {
  display: block;
}

.form-control {
  border-radius: 0 !important;
  color: #898989 !important;
}
select {
  font-weight: 600;
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 1.3rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid hsla(0, 0%, 41%, 0.24);
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: Raleway, sans-serif;
}

p {
  line-height: 1.5;
}

body {
  font-family: $Raleway;
  overflow-x: hidden;
  padding-top: 0;
  background-color: #f3f3f3;
}

.mask {
  @include respond-to(sm) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }

  @include respond-to(xs) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 100px 0 0 0;
  position: relative;

  @include respond-to(xs) {
    padding: 50px 0 0 0;
  }
}

button:focus {
  outline: 5px auto transparent;
}

.line {
  border-right: 1px solid $white;
  margin: 0 10px;

  &.line-color {
    border-right: 1px solid $line;
    margin: 20px 10px;
  }

  &.line-color--entries {
    border-right: 1px solid hsla(0, 0%, 44%, 0.35);
    height: 45px;
    margin-top: 20px;
  }
}

.line-gray {
  border: 1px solid $line;
  width: 78%;
  margin: 50px 0 0 150px;

  &.line--white {
    border: 1px solid $white;
    margin: 10px 0 10px 0px;
  }

  &.line-gray--entries {
    margin: 0;
    width: 100%;
  }

  @include respond-to(md) {
    margin: 50px 0;
    width: 100%;
  }

  @include respond-to(sm) {
    margin: 50px 0;
    width: 100%;
  }

  @include respond-to(xs) {
    margin: 50px 0 0 15px;
    width: 90%;
  }
}

.img-round {
  border-radius: 5px;
}

.navbar {
  background-color: transparent;
  transition: 0.3s ease-in-out;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 85px;

  @include respond-to(sm) {
    height: 80px;
    // background-color: $white;
  }

  @include respond-to(xs) {
    height: 75px;
    // background-color: $white;
  }

  &.fixed {
    height: 85px;
    background-color: $white;
    transition: 0.3s ease-in-out;
    justify-content: center;
  }

  &.fixed-bc {
    height: 85px;
    background-color: $white;
    transition: 0.3s ease-in-out;
    justify-content: center;
  }
}

.nav-item {
  padding: 0 18px;
  display: flex;
  align-items: center;
  &:last-child {
    @include respond-to(xl) {
      padding: 0px;
    }
    @include respond-to(md) {
      padding: 0px;
    }
  }
  @include respond-to(md) {
    padding: 0 8px;
  }

  @include respond-to(sm) {
    padding: 5px 18px;
  }

  @include respond-to(xs) {
    padding: 5px 15px;
  }
}

.main-brand {
  @include respond-to(sm) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  @include respond-to(xs) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.nav-link {
  color: $white;
  transition: 0.3s ease-in-out;
  @include font(23px, $bold);
  text-transform: uppercase;
  font-family: $Ostrich;
  border: 2px solid transparent;
  padding: 0px 10px;
  border-radius: 5px;
  text-shadow: 0 4px 4px #0000007a;

  @include respond-to(xs) {
    color: $black;
  }

  &.fixed-color {
    color: $black;
    transition: 0.3s ease-in-out;
    text-shadow: 0 0px 0px #00000000;

    &:hover {
      color: $black;
      border: 2px solid $black;
      border-radius: 5px;
      padding: 0 5px;
    }

    &.active {
      border: 2px solid $black;
      padding: 0px 10px;
      border-radius: 5px;
    }
  }

  &.nav-link-bc {
    color: $black;
    transition: 0.3s ease-in-out;

    &:hover {
      color: $black;
      border: 2px solid $black;
      border-radius: 5px;
    }

    &.active {
      border: 2px solid $black;
      padding: 0px 10px;
      border-radius: 5px;
    }
  }

  &.active {
    border: 2px solid $white;
    padding: 0px 10px;
    border-radius: 5px;
  }

  &:hover {
    color: $white;
    padding: 0 5px;
  }
}

.navbar-brand {
  width: 80px;
  padding: 10px 10px 10px 0;

  @include respond-to(md) {
    width: 60px;
    // margin-left: 10px;
  }

  @include respond-to(sm) {
    width: 60px;
    // margin-left: 16px;
  }

  @include respond-to(xs) {
    width: 60px;
    margin-left: 16px;
  }

  img {
    width: 100%;
  }
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-top__header {
  width: 100%;
  background-color: $black;
  padding: 10px;
  transition: 0.3s ease-in-out;

  &.nav-top__header--detele {
    display: none !important;
    transition: 0.3s ease-in-out;
  }

  @include respond-to(sm) {
    display: none;
  }

  @include respond-to(xs) {
    display: none;
  }
}

.nav-top__content {
  padding: 0 100px;
}

.main-nav__contact {
  a {
    color: $white;
    text-decoration: none;
  }
}

.main-nav__redes {
  a {
    color: $white;
    margin-right: 5px;
    transition: 0.3s ease-in-out;

    &:hover {
      transition: 0.3s ease-in-out;
      color: $orange;
    }
  }
}

/** Banner */
.main-banner {
  position: relative;
  overflow: hidden;
  // margin-top: -80px;

  .main-banner__item {
    position: relative;
    .container {
      @include respond-to(sm) {
        padding: 0;
      }
    }
  }

  .mask2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    // background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;

    .container {
      height: 100%;
    }

    .main-banner__boxtext {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
    }

    .main-banner__text {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      // padding-left: 160px;

      @include respond-to(md) {
        // padding-left: 20px;
      }

      @include respond-to(sm) {
        // padding-left: 30px;
      }

      @include respond-to(xs) {
        // padding-left: 30px;
      }

      .main-banner__title {
        // text-align: center;
        text-transform: uppercase;
        letter-spacing: 3.3px;
        text-shadow: 0px 4px 4px #0000007a;
        margin-left: -5px;

        @include respond-to(sm) {
          text-align: left;
        }

        @include respond-to(xs) {
          text-align: left;
        }

        &.title-color-gray {
          h2 {
            color: #4c4c4c;
            text-shadow: 0px 4px 4px #0000007a;
          }
        }

        h1 {
          padding: 0px;
          color: $white;
          @include font(65px, $bold);
          line-height: 1;
          margin: 0;
          font-family: $Raleway;
          text-shadow: 0px 4px 4px #0000007a;

          @include respond-to(xl) {
            @include font(85px, $bold);
          }

          @include respond-to(md) {
            font-size: 55px;
          }

          @include respond-to(xs) {
            font-size: 35px;
            padding: 0;
          }
        }
        h2 {
          padding: 0px;
          color: $white;
          @include font(65px, $bold);
          line-height: 1;
          margin: 0;
          font-family: $Raleway;
          text-shadow: 0px 4px 4px #0000007a;
          @include respond-to(xl) {
            @include font(85px, $bold);
          }

          @include respond-to(md) {
            font-size: 55px;
          }

          @include respond-to(xs) {
            font-size: 40px;
            padding: 0;
          }
        }

        span {
          padding: 0 25px;
          color: $white;
          font-size: 60px;
          font-weight: 500;
          line-height: 1;
          margin: 0;
        }
      }

      .main-banner__description {
        padding: 0 25px;
        color: $white;
        font-size: 20px;
        line-height: 2rem;
        margin: 50px 0 0 0;
        // font-family: $CenturyGothic;

        @include respond-to(md) {
          font-size: 18px;
        }

        @include respond-to(xs) {
          font-size: 18px;
          padding: 0;
        }
      }
    }
  }

  .main-banner__img {
    width: 100%;
    height: 100vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.main-general__title {
  h2 {
    text-transform: uppercase;
    color: $white;
    letter-spacing: 5.86px;
    @include font(60px, $bold);
    line-height: 0.9;
    @include respond-to(xl) {
      @include font(80px, $bold);
    }

    @include respond-to(md) {
      letter-spacing: 0px;
      @include font(60px, $bold);
    }

    @include respond-to(sm) {
      letter-spacing: 0px;
      @include font(60px, $bold);
    }

    @include respond-to(xs) {
      letter-spacing: 0px;
      @include font(45px, $bold);
    }
  }

  &.main-general__title--font {
    h2 {
      letter-spacing: 0px;
      @include font(60px, $bold);
      margin-bottom: 0;
      line-height: 1;

      @include respond-to(md) {
        letter-spacing: 0.25px;
        @include font(50px, $bold);
      }

      @include respond-to(sm) {
        letter-spacing: 0.25px;
        @include font(50px, $bold);
      }

      @include respond-to(xs) {
        letter-spacing: 0.25px;
        @include font(50px, $bold);
      }
    }
  }

  &.main-general__title--event {
    @include respond-to(sm) {
      width: 70%;
    }
    @include respond-to(xs) {
      width: 70%;
    }
    h2 {
      letter-spacing: 0px;
      @include font(45px, $bold);
      line-height: 1;

      @include respond-to(md) {
        letter-spacing: 0.25px;
        @include font(40px, $bold);
      }

      @include respond-to(sm) {
        letter-spacing: 0.25px;
        @include font(40px, $bold);
        text-align: right;
      }

      @include respond-to(xs) {
        letter-spacing: 0.25px;

        @include font(30px, $bold);
        text-align: right;
      }
    }
    p {
      @include respond-to(sm) {
        text-align: right;
      }
      @include respond-to(xs) {
        text-align: right;
      }
    }
  }

  &.main-general__title--color {
    h2 {
      letter-spacing: 3.25px;
      @include font(55px, $superBold);
      color: $text;
      text-align: right;
      margin-bottom: 20px;
      line-height: 0.7;

      @include respond-to(md) {
        letter-spacing: 0.25px;
        @include font(50px, $superBold);
      }

      @include respond-to(sm) {
        letter-spacing: 0.25px;
        @include font(50px, $superBold);
      }

      @include respond-to(xs) {
        letter-spacing: 0.25px;
        @include font(45px, $bold);
      }
    }

    &.title--left {
      @include respond-to(xs) {
        margin-top: -30px;
      }
      h2 {
        text-align: left;
      }
    }
  }

  &.main-general__title--dots {
    h1,
    h2 {
      letter-spacing: 5.25px;
      @include font(40px, $bold);
      color: $text;
      text-align: left;
      text-transform: uppercase;

      @include respond-to(md) {
        @include font(45px, $bold);
      }

      @include respond-to(sm) {
        @include font(55px, $bold);
      }

      @include respond-to(xs) {
        @include font(35px, $bold);
      }
    }
    /* h1 {
      letter-spacing: 5.25px;
      @include font(40px, $bold);
      color: $text;
      text-align: left;
      text-transform: uppercase;

      @include respond-to(md) {
        @include font(45px, $bold);
      }

      @include respond-to(sm) {
        @include font(55px, $bold);
      }

      @include respond-to(xs) {
        @include font(35px, $bold);
      }
    } */
  }
}
#poke-puntos-content {
  .main-general__description {
    margin-top: 20px;
    p {
      font-size: 16px !important;
    }
  }
}
.main-general__description {
  margin-top: 20px;
  p {
    letter-spacing: 2.45px;
    color: $white;
    @include font(20px, $medium);
    margin-bottom: 0;
    line-height: 2;

    @include respond-to(md) {
      @include font(20px, $medium);
    }

    @include respond-to(sm) {
      @include font(20px, $medium);
    }

    @include respond-to(xs) {
      @include font(18px, $medium);
    }
  }

  strong {
    color: $white;
    @include font(25px, $superBold);
    @include respond-to(sm) {
      color: #686868;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.7;
      letter-spacing: 1.54px;
    }
    @include respond-to(xs) {
      color: #686868;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.7;
      letter-spacing: 1.54px;
    }
  }

  &.main-general__description--font {
    p {
      letter-spacing: 1.54px;
      @include font(15px, $medium);
      line-height: 2.5;
      @include respond-to(md) {
        line-height: 2;
      }
      @include respond-to(sm) {
        @include font(20px, $medium);
        line-height: 2;
      }
      @include respond-to(xs) {
        @include font(15px, $medium);
        line-height: 2;
      }

      @include respond-to(xl) {
        font-size: 20px;
        line-height: 2;
      }
    }
  }

  &.main-general__description--dots {
    p {
      color: $text;
      @include font(20px, $medium);
      letter-spacing: 2.1px;

      @include respond-to(md) {
        @include font(20px, $medium);
      }

      @include respond-to(sm) {
        @include font(20px, $medium);
      }

      @include respond-to(xs) {
        @include font(18px, $medium);
      }
    }
  }

  &.main-general__description--create {
    margin: 40px;

    @include respond-to(xs) {
      margin: 0 0 20px 0;
    }

    p {
      color: $text;
      @include font(18px, $medium);
      letter-spacing: 2.1px;
      text-align: center;
    }
  }

  &.main-general__description--amb {
    p {
      color: $text;
      @include font(25px, $medium);
      letter-spacing: 2.1px;
      text-align: center;
      text-transform: uppercase;

      @include respond-to(md) {
        @include font(20px, $medium);
      }

      @include respond-to(sm) {
        @include font(20px, $medium);
      }

      @include respond-to(xs) {
        @include font(18px, $medium);
      }
    }

    &.main-general__description--work {
      p {
        @include font(35px, $superBold);

        @include respond-to(sm) {
          @include font(30px, $superBold);
        }

        @include respond-to(xs) {
          @include font(25px, $superBold);
        }
      }
    }
  }

  &.main-general__description--requiere {
    p {
      color: $text;
      @include font(17px, $medium);
      letter-spacing: 0;
      margin-top: 20px;

      @include respond-to(xs) {
        @include font(14px, $medium);
        text-align: center;
      }
    }
  }
}

.main-general__boxsubtitle {
  padding: 40px 15px 0px;
}

.main-general__subtitle {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  h3 {
    @include font(18px, $bold);
    text-transform: uppercase;
    color: #686868;
    margin-bottom: 0;
    text-align: center;
  }

  // &:before {
  //   content: '';
  //   width: 500px;
  //   height: 1px;
  //   position: absolute;
  //   background-color: #686868;
  //   top: 10px;
  //   left: -110px;

  //   @include respond-to(xl){
  //     width: 700px;
  //     left: -350px;
  //   }

  //   @include respond-to(md) {
  //     width: 300px;
  //   }

  //   @include respond-to(sm) {
  //     width: 150px;
  //   }

  //   @include respond-to(xs) {
  //     width: 45px;
  //     left: -35px;
  //     top: 10px;
  //     transform: translateX(0px);
  //   }
  // }

  // &:after {
  //   content: "";
  //   width: 500px;
  //   height: 1px;
  //   position: absolute;
  //   background-color: #686868;
  //   top: 10px;
  //   right: -110px;
  //   @include respond-to(xl){
  //     width: 700px;
  //     right: -350px;
  //   }
  //   @include respond-to(md) {
  //     width: 300px;
  //   }

  //   @include respond-to(sm) {
  //     width: 150px;
  //   }

  //   @include respond-to(xs) {
  //     width: 45px;
  //     right: -35px;
  //     top: 10px;
  //     transform: translateX(0px);
  //   }
  // }
}

.main-home__contentline {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  padding: 30px 0;
  @include respond-to(sm) {
    grid-template-columns: 35% 30% 35%;
  }
  @include respond-to(xs) {
    grid-template-columns: 20% 60% 20%;
  }
  &.contentline__margint {
    @include respond-to(xs) {
      margin-top: -40px;
    }
  }
}

.main-home__contentline.main-home__contentline--about {
  grid-template-columns: 42% 15% 42%;
  @include respond-to(sm) {
    grid-template-columns: 35% 30% 35%;
  }
  @include respond-to(xs) {
    grid-template-columns: 20% 60% 20%;
  }
}

.main-home__contentline.main-home__contentline--about.main-home__contentline--aboutp {
  @include respond-to(xs) {
    padding: 0px 0 30px 0;
    margin-top: -40px;
  }
}
.main-home__item {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-home__line {
  width: 70%;
  height: 1px;
  background-color: #686868;
}

.main-home__line.main-home__line--first {
  margin-left: 100px;

  @include respond-to(xs) {
    margin-left: 20px;
  }
}
.main-home__line.main-home__line--last {
  margin-right: 100px;
  @include respond-to(xs) {
    margin-right: 20px;
  }
}

.main-general__subtitle--medium {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 0 -10px 0;

  h4 {
    @include font(25px, $superBold);
    text-transform: uppercase;
    color: #686868;
  }
}

.main-about {
  background-size: cover;
  // height: 1000px;

  @include respond-to(sm) {
    height: auto;
    // padding: 20px;
  }

  @include respond-to(xs) {
    height: auto;
  }

  &.main-about__height {
    // height: 900px;
    position: relative;
    // z-index: -1;

    @include respond-to(xs) {
      height: auto;
    }
  }
}

.main-about__contentimg {
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
  background-position: 50% -140px;
  padding: 0 !important;
  @include respond-to(md) {
    height: 700px;
  }

  @include respond-to(sm) {
    height: 880px;
  }
  @include respond-to(xs) {
    height: 800px;
  }
  @include respond-to(xl) {
    height: 100vh !important;
  }
  &.main-event__img-bg {
    height: 1100px !important;
    &.main-event__img-height {
      height: 1300px !important;
    }
  }
  &.main-about__contentimg--about {
    @include respond-to(xs) {
      min-height: 300px !important;
      margin-bottom: 0px;
    }
    .container {
      left: -450px;
      @include respond-to(xl) {
        left: -120px !important;
      }
      @include respond-to(md) {
        left: -310px;
      }

      @include respond-to(xs) {
        left: 0px;
        // margin-top: 50px;
      }
    }
  }

  &.main-about__contentimg--why {
    // height: initial;

    .container {
      @include respond-to(sm) {
        left: -10px;
        top: 0%;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    @include respond-to(sm) {
      object-position: top left;
    }
    @include respond-to(xs) {
      object-position: top left;
    }
  }
  .container {
    position: absolute;
    top: 0;
    left: 8%;

    @include respond-to(xl) {
      left: 20%;
      transform: translateX(0%);
    }
    @include respond-to(md) {
      left: 3%;
    }
    @include respond-to(sm) {
      left: 0.6%;
      top: 15%;
    }

    @include respond-to(xs) {
      left: 0;
    }
  }
}

// @media (max-width: 1600px){
//   .main-about__contentimg .container{
//     left: 14%;
//   }
// }
.main-about__mt {
  margin-top: 50px;
  position: initial;
  .container {
    @include respond-to(sm) {
      padding: 0;
    }
  }

  @include respond-to(sm) {
    margin-top: 0;
  }

  @include respond-to(xs) {
    margin-top: 0;
  }
}

.main-about__content {
  width: 100%;
  height: 700px;

  @include respond-to(sm) {
    height: 500px;
  }

  @include respond-to(xs) {
    height: 800px;
  }
}

.main-about__item {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include respond-to(sm) {
    width: 100%;
  }

  @include respond-to(xs) {
    width: 100%;
  }
}

.main-why__content {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include respond-to(md) {
    grid-template-columns: 1fr 2fr;
    grid-gap: 50px;
  }

  @include respond-to(sm) {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  @include respond-to(xs) {
    grid-template-columns: 1fr;
  }
}

.main-why__item {
  &:nth-child(2) {
    padding: 100px 0;
  }

  &.main-why__item--event {
    padding: 60px 0;

    @include respond-to(xs) {
      padding: 110px 0 30px;
    }
  }
}

.main-follow__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;

  @include respond-to(sm) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond-to(xs) {
    grid-template-columns: 1fr;
  }
}

.main-follow__img {
  img {
    width: 100%;
    height: 100%;
  }
}

#modalCoockie {
  color: #686868;
  font-family: Roboto, sans-serif;
  .modal-dialog.modal-dialog-centered {
    width: 100%;
    margin: auto;
    height: 100%;
    transform: translateY(0%);
    padding: 0;
    justify-content: center;
    align-items: flex-end !important;
  }

  .btn {
    background: #686868;
    color: #fff;
    padding: 1px 6px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Ostrich Sans";
    line-height: 1;
    margin: 5px 0;
  }
  a {
    color: #686868;
    font-family: Roboto, sans-serif;
    text-decoration: underline;
  }
  h5 {
    font-size: 16px;
    font-weight: bold;
  }

  & .modal-header {
    padding: 0;
    border-bottom: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: initial;
    justify-content: flex-start !important;
    color: #4a4a4a;
  }
  .modal-content {
    width: 60%;
    padding: 5px 20px;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    border: 0;
    @include respond-to(sm) {
      width: 80%;
    }
    @include respond-to(xs) {
      width: 90% !important;
    }
  }
  .modal-footer {
    border: 0 !important;
    text-align: center;
    margin: 0;
    justify-content: flex-start;
    padding: 0;
  }
  .modal-body {
    p {
      font-size: 12px;
      line-height: 2;
      text-align: justify;
      margin-bottom: 5px;
      margin: 0;
    }
  }
}

.main-footer {
  background-color: $white;
  .container {
    @include respond-to(sm) {
      padding: 0;
    }
  }
}

.main-footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 50px 0;

  @include respond-to(sm) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond-to(xs) {
    grid-template-columns: 1fr;
    padding: 50px 0 10px 0;
  }
}

.main-footer__boxsmall {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 20px;

  @include respond-to(xs) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.main-footer__text {
  p {
    font-style: italic;
    @include font(15px, $light);
    font-family: $Roboto;
    color: #686868;

    @include respond-to(xs) {
      text-align: center;
    }
  }
}

.main-footer__address {
  a {
    &:hover {
      text-decoration: none;
    }
  }

  p {
    font-style: normal;
    @include font(15px, $light);
    font-family: $Roboto;
    color: #686868;
  }
}

.main-footer__title {
  p {
    color: $black;
    @include font(15px, $bold);
    font-family: $Roboto;
    text-transform: uppercase;
  }
}

.main-footer__box {
  @include respond-to(xs) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      @include respond-to(xs) {
        text-align: center;
      }

      a {
        color: #686868;
        font-family: $Roboto;
        @include font(15px, $light);
        transition: 0.3s ease-in-out;
        font-style: italic;
        line-height: 2;
        text-transform: uppercase;

        @include respond-to(md) {
          @include font(14px, $light);
        }

        &:hover {
          text-decoration: none;
          @include font(15px, $semibold);
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}

.main-footer__btn {
  // width: 100%;
  // display: flex;
  // justify-content: flex-start;
  margin-right: 3px;

  @include respond-to(xs) {
    justify-content: center;
  }
}
.btn__footer {
  width: 120px;
}

.main-footer__redes {
  display: flex;
  p {
    display: flex;
    margin: 0;
  }
  a {
    margin-right: 22px;
    transition: 0.3s ease-in-out;

    img {
      width: 25px;
    }
    &:hover {
      transform: translateY(-5px);
      transition: 0.3s ease-in-out;
    }
  }
}

.main-footer__email {
  margin-top: 10px;

  a {
    color: $black;
    font-size: 14px;

    &:hover {
      text-decoration: none;
    }
  }
}

.main-footer__copy {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  align-items: center;
  padding: 10px;

  p {
    color: $black;
    margin-bottom: 0;
    font-weight: 700;

    @include respond-to(xs) {
      text-align: center;
    }
  }
}

.main-footer-grid {
  display: flex;
}

.message {
  p {
    line-height: 1;
    text-align: left;
    letter-spacing: 0;
    color: #000000;
    font-size: 13px;
    font-family: $Roboto;

    .text-link {
      font-size: 12px;
      text-decoration: underline;
      font-style: italic;
      font-family: $Roboto;
    }
  }
}

.card-header {
  padding: 0rem 1.25rem;
}

#sb_instagram {
  margin-top: 25px;
}
#ubications {
  color: white !important;
  height: 58px;
}
#ubications:focus {
  color: white !important;
  background-color: #898989 !important;
}
#nuestra-promesa {
  padding-top: 90px;
  margin-top: -90px;
}

.ambiental__description p {
  line-height: 1.2;
}
@media (max-width: 767px) {
  .message {
    width: 50%;
  }
  .main-footer-grid {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
  }
  .label-acept {
    font-size: 15px !important;
  }
  #text-3 {
    text-align: center;
    margin: auto;
    list-style: none;
  }
  body > div:nth-child(2) > div:nth-child(8) > div > div:nth-child(2) {
    display: none;
  }
}

div.wpcf7 .screen-reader-response {
  position: inherit !important;
  overflow: initial !important;
  height: 100% !important;
  width: auto !important;
  top: 0px !important;
  font-weight: 400 !important;
  color: #686868 !important;
  & ul {
    display: none;
  }
}
div.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
  display: none !important;
}
div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
  display: none !important;
}

.input-file .file-selected {
  font-size: 14px !important;
  display: inline !important;
  padding: 0 20px !important;
  font-family: Raleway, sans-serif !important;
  font-weight: 400 !important;
  color: #686868 !important;
}
#wpcf7-f245-o1 > form > div:nth-child(7) > div:nth-child(5) > div > div {
  padding-left: 0 !important;
}
#wpcf7-f247-p27-o1 > div {
  color: white !important;
}
@media (min-width: 1300px) and (max-width: 1400px) {
  body
    > div.main-about.main-about__height
    > div.main-about__contentimg.main-about__contentimg--why {
    height: 120vh;
  }
}
#wpcf7-f261-p27-o1
  > form
  > div.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
  display: block;
  margin-top: 80px;
  color: white;
  border: none;
  padding-left: 0;
}
#wpcf7-f261-p27-o1 > div {
  color: white;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari and Chrome */
  body > div.main-entries > div > div.main-entries__nav > div > a {
    height: 42px;
  }
}

.main-footer__address li {
  list-style: none;
}
#text-3,
.main-footer__box,
div.main-footer__copy {
  list-style: none;
}
#text-4 > div.main-footer__title,
#text-5 > h2,
#text-6 > h2 {
  display: none;
}

.sombra .nav-link-bc {
  text-shadow: none !important;
}
.que-es-poke {
  .main-about__contentimg {
    height: auto;
  }
}
.main-about__mt {
  .main-about__contentimg {
    height: auto;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .que-es-poke {
    .main-about__contentimg img {
      object-position: center;
    }
    .main-about__contentimg {
      height: auto;
      background: #f3f3f3;
      position: relative;
    }
    .main-about__contentimg--why {
      &.main-about__contentimg--why--mobile {
        margin-bottom: -30px;
      }
      .container {
        position: relative;
      }
      img {
        height: auto;
        position: relative;
      }
      h2 {
        font-size: 35px !important;
        color: #686868;
      }
      p {
        color: #686868;
      }
    }
    .main-general__description {
      margin: 0;
    }
    .main-why__item:nth-child(2) {
      padding: 25px 0;

      @include respond-to(xs) {
        padding: 40px 0;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .que-es-poke {
    .main-about__contentimg img {
      object-position: center;
    }
    .main-about__contentimg {
      height: auto;
      min-height: 960px;
      background: #f3f3f3;
      position: relative;
    }
    .main-about__contentimg--why {
      .container {
        position: relative;
      }
      img {
        height: auto;
        position: relative;
      }
      h2 {
        font-size: 35px !important;
        color: #686868;
      }
      p {
        color: #686868;
        line-height: 2 !important;
      }
    }
    .main-general__description {
      margin: 0;
    }
    .main-why__item:nth-child(2) {
      padding: 25px 0;
    }
  }
}

@media (max-width: 768px) {
  .main-ourorigin__img {
    height: auto;
  }
  #poke-puntos {
    height: 85vh !important;
    .about-banner__text.about-banner__text--top {
      padding-top: 0;
      margin: 290px 0;
      font-size: -7px;
      h3 {
        font-size: 30px;
      }
      p {
        font-size: 15px;
      }
      .btn-box {
        margin-top: 15px;
      }
    }
  }
  #poke-puntos-content {
    h1 {
      font-size: 25px;
    }
    p {
      line-height: 1.2;
      font-size: 15px;
      margin-bottom: -20px;
    }
  }
  #poke-puntos-premios {
    h2 {
      font-size: 25px;
    }
  }
  .main-pokedots__content {
    margin-top: 20px;
  }
}

.main-event__banner--mobile {
  #wpcf7-f261-p27-o1 {
    @include respond-to(sm) {
      padding: 20px;
    }
    @include respond-to(xs) {
      padding: 20px;
    }
  }
  .main-why__item {
    @include respond-to(sm) {
      padding-top: 20px;
    }
    @include respond-to(xs) {
      padding-top: 30px;
    }
  }
  .about-banner {
    @include respond-to(sm) {
      height: 80vh;
    }
    @include respond-to(xs) {
      height: 80vh;
    }
    .about-banner__text {
      @include respond-to(sm) {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
      @include respond-to(xs) {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

#wpcf7-f261-p27-o2
  > form
  > div.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
  margin-top: 80px;
  margin-left: 0;
  color: white;
  border: none;
  padding: 0;
}

#wpcf7-f261-p27-o2 > div {
  display: none;
}
